.popular-category-wrapper{
  margin-bottom: 54px;
}
.popular-category-wrapper a {
    text-decoration: none;
    outline: none;
}
.popular-category-item {
    text-align: center;
    border-radius: 3px;
    box-shadow: 0 2px 36px 0 rgba(114, 114, 114, 0.22);
    background-color: #ffffff;
    padding: 38px 25px 29px;   
    margin-bottom: 42px; 
}
.popular-category-item .popular-category-title h4 {
    margin: 0;
}
.popular-category-item .popular-category-title h4 {
    margin: 0;
    font-size: 22px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.45;
    letter-spacing: normal;
    text-align: center;
    color: #515151;
    min-height: 62px;
    margin-bottom: 19px;
}
.popular-separator-border {
    width: 80px;
    height: 4px;
    background-color: #4ec2bd;
    margin: auto;
}
.search-box.category-tabSearch-box .input-group input {
    width: 97%;
    height: 40px;
    border: solid 1px rgba(151, 151, 151, 0.5);
    border-right: none;
}
.search-box.category-tabSearch-box .input-group .input-group-text{
    -ms-transform: translateY(-50%);
    background: none;
    border: solid rgba(151, 151, 151, 0.5);
    border-width: 1px 1px 1px 0;
    font-size: 16px;
    color: #515151;
    cursor: pointer;
    height: 40px;
    vertical-align: top;
    background: transparent;
}
h4.alpha-section-title {
    font-size: 18px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: normal;
    color: #515151;
    text-transform: uppercase;
    margin: 100px 0 51px 0;
}
.alpha-card-wrap h3.alpha-letter {
    font-size: 18px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: normal;
    color: #515151;
    /* margin: 0; */
    text-transform: uppercase;
    margin: 0 0 20px 17px;
}
.alpha-card-wrap .card p{
  margin-bottom: 0
}
.alpha-card-wrap .card {
    padding: 18px 15px;
}
.page-main-content-banner.buyer-category-banner {
    position: relative;
    height: 453px;
    margin-top: 127px;
    display: block;
    background: #0a4f93;
}
.page-main-content-banner.buyer-category-banner .bannerContent-wrap {
    padding: 90px 0;
}
.buyer-category-banner .owl-carousel .owl-nav button.owl-prev, .buyer-category-banner .owl-carousel .owl-nav button.owl-next,
.categroylisting-banner-wrap .owl-carousel .owl-nav button.owl-prev, .categroylisting-banner-wrap .owl-carousel .owl-nav button.owl-next {
    width: 40px;
    height: 40px;
    background-color: #2f87bf;
    border-radius: 100%;
    font-size: 16px;
    color: #ffffff;
}
button:focus {
    outline: none;
}
.buyer-category-banner .owl-nav,
.categroylisting-banner-wrap .owl-nav {
    position: absolute;
    top: 50%;
    transform: translate(0px, -50%);
    -webkit-transform: translate(0px, -50%);
    -moz-transform: translate(0px, -50%);
    -ms-transform: translate(0px, -50%);
    left: 0;
    right: 0;
}
.buyer-category-banner .owl-carousel .owl-nav button.owl-prev,
.categroylisting-banner-wrap .owl-carousel .owl-nav button.owl-prev {
    position: absolute;
    left:  20px;
}
.buyer-category-banner .owl-carousel .owl-nav button.owl-next ,
.categroylisting-banner-wrap .owl-carousel .owl-nav button.owl-next{
    position: absolute;
    right: 20px;
}
.buyer-category-banner .banner-right-img {
    position: absolute;
    top: -288px;
    right: -20px;
}
.buyer-category-banner .owl-carousel .owl-stage-outer{
    overflow: visible;
}
.owl-carousel .owl-item img{
    width: initial;
}

.categroylisting-banner-wrap .item{
    background: #0a4f93;
}
.page-title-block h2.buyer-category-page-title {
    font-size: 36px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #515151;
    margin: 124px 0 110px;
}
.page-main-content-banner.productlist-banner.buyer-category-banner .banner-btn{
    margin-top: 40px;
}
.page-main-content-banner.buyer-category-banner .bannerContent-wrap h1.bannerTitle {
    font-size: 47px;
}

button.submit-btn.contactBtn {
    border-radius: 4px;
    background-color: #4ec2bd;
    border: #4ec2bd;
    color: #fff;
    padding: 11px 0;
    width: 140px;
}

.contact-banner{
    background: url("https://varselor.scrumdigital.com/buyer/assets/images/contact-bg.jpg") center center/cover;
    position: relative;
    padding: 100px 0;
}
.contact-banner:before {
    content: "";
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: rgba(13, 79, 146, 0.50);
}
.contact-info-wrap{
    padding: 100px 0;
}
h2.contact-title {
    font-size: 36px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #515151;
}
h2.contact-title ~ p {
     font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.44;
  letter-spacing: normal;
  color: #515151;
}
.contact-info-wrap .form-control {
    font-size: 14px;
    height: 42px;
}

.contact-info-wrap textarea.form-control {
    height: auto;
}

h1.thank-youTitle.text-center {
    font-size: 50px;
    color: #0c4f93;
    font-weight: bold;
    margin-bottom: 20px;
}

.thank-youpage i{
    text-align: center;
    margin: auto;
    text-align: center;
    display: block;
    font-size: 100px;
    margin-bottom: 30px;
    color: #bf1777;
}
.thank-you-wraper{
    padding: 100px 0;
}