




@media (min-width: 992px) and (max-width: 1199px){
  .cartpage .right-area .order-box .cupon-box #coupon-form button{
    margin-top: 10px;
  }

  .product-details-page .right-area .product-info .info-meta-1 ul li p {
    margin-bottom: 0px;
  }

  .product-details-page .right-area .product-info .info-meta-3 .meta-list li.addtocart {
    width: 200px;
    margin-top: 10px
  }

  .product-details-page .right-area .product-info .social-links {
    margin-top: 15px;
  }

  .flash-deals .flas-deal-slider .item .deal-counter span {
    font-size: 18px;
    line-height: 28px;
  }

}

@media only screen and (max-width: 1199px){
  .price-range-field{
    width: 100%;
  }
  .checkout .left-area .checkoutform .payment-information .pm-list li{
    margin-bottom: 15px;
  }
  .checkout .right-area .footer {
      display: flow-root;
  }

}

@media only screen and (max-width: 991px) {


  
  .core-nav .wrap-core-nav-list .core-nav-list{
    width: 100%;
  }


  .feather.feather-menu {
    color: #fff;
  }
  .core-nav .wrap-core-nav-list{
    margin-top: 0px;
    margin-right: -100%;
    background: #fff;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.10);
  }


  .logo-header .search-box .categori-container {
    height: 40px;
  }

  .logo-header .search-box .search-form input {
    height: 40px;
  }
  .logo-header .search-box {
    height: 40px;
  }
  .banner-section .left {
    margin-bottom: 20px;
    margin-right: 0px;
  }
  .banner-section .right {
    margin-bottom: 20px;
    margin-left: 0px;
  }

  .blog-area .aside .slider-wrapper {
    margin-bottom: 30px;
  }
  .logo-header .search-box{
    margin-top: 13px;
  }
  .core-nav .wrap-core-nav-list .core-nav-list > li.dropdown::after {
    right: 30px;
  }
  .core-nav .wrap-core-nav-list{
    z-index: 99;
    display: none;
    transition: none;
    top: 100%;
    left: 0px;
    margin-top: 0px;
    margin-left: 0px;
    }
  .core-nav.open-responsive .wrap-core-nav-list {
    z-index: 99;
    display: block;
  }


  .footer-widget.recent-post-widget {
    margin-top: 30px;
  }
  .sub-categori .right-area .item-filter {
    text-align: left;
}
.sub-categori .left-area{
  margin-top: 40px;
}
.price-range-field{
  width: 80px;
}
.blog-aside{
  margin-top: 50px;
}
.cartpage .right-area .order-box{
  margin-top: 20px;
}
.checkout .right-area{
  margin-top: 50px;
}
.checkout .right-area .footer{
  display: flex;
}
.login-signup .login-area.signup-area{
  margin-top: 40px;
}

.product-details-page .right-area .product-info{
  margin-top: 40px;
}
.vendor-top-header .content .single-box{
  margin-bottom: 20px;
}
.vendor-top-header .content {
  padding: 25px 0px 0px;
}
.sub-categori .modal .modal-dialog {
  width: 400px;
}
.sub-categori .modal .contact-form {
  padding: 0px 0px 0px;
}
.user-dashbord .user-profile-info-area{
  margin-bottom: 30px;
}
.about-img {
  margin-bottom: 30px;
}
.wish-list .item-filter{
  display: flow-root;
  text-align: center!important;
  justify-content: center;
}
.wish-list .item-filter .pagination-area{
  display: block;
  text-align: center;
  margin-top: 20px;
}
.wish-list .item-filter .pagination-area .pagination{
 display: inline-block;
}
.wish-list .item-filter .pagination-area .pagination li{
  display: inline-block;
}
div#myInputautocomplete-list {
    top: 0px;
}
nav .menu li a{
  color: #131313;
}
.user-profile-details{
  margin-top: 50px;
}
.cartpage {
  padding: 70px 0px 70px;
}

  .product-details-page .categori .section-top {
    margin-top: 40px;
    }


    .checkout-area .checkout-process li a{
      height: 50px;
      line-height: 50px;
  }
  .checkout-area .checkout-process li a::before {
      border-top: 25px solid transparent;
      border-left: 15px solid #e9ecef;
      border-bottom: 25px solid transparent;
  }
  .checkout-area .checkout-process li a::after {
      border-top: 25px solid transparent;
      border-left: 15px solid #ffffff;
      border-bottom: 25px solid transparent;
  }
  .checkout-area .checkout-process li a i {
      font-size: 20px;
  }
  .checkout-area .checkout-process li a.active i,
   .checkout-area .checkout-process li a:hover i {
      font-size: 25px;
  }
  .checkout-area .checkout-process li a {
      width: 180px;
  }
  .checkout-area .checkout-process li a {
      padding-left: 25px;
  }
  .checkout-area .content-box .content .form-control {
      margin-bottom: 10px;
  }


  .cart-table.co-p-table {
    width: 100%;
    overflow-x: auto;
  }
}




@media only screen and (max-width: 767px) {

  .tab-content > .nav-row.mt-4{
    margin-top: 30px!important;
  }


  .top-header .right-content .list ul{
    display: flex;
    justify-content: space-between;
  }

  .top-header .right-content .list li.d-mob-none{
    display: none!important;
  }

  .top-header .right-content {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .top-header .right-content .logo-mobile{
    display: inline-block;
  }

  .top-header .right-content .logo-mobile img{
    max-width: 120px;
  }

  .top-header .right-content .list{
    display: flex;
    align-self: center;
    width: 100%;
  }

  .top-header .right-content .list ul{
    display: flex;
    align-self: center;
    width: 100%;
  }

  .top-header .sign-log {
    position: relative;
    top: -2px;
  }

  .mainmenu-area-innner{
    position: relative;
    padding-top: 60px;
  }

/*  .mainmenu-wrapper{
    position: absolute;
    top: 0px;
    right: 0;
  }*/

  .categorimenu-wrapper{
    position: absolute;
    top: 0px;
    left: 0;
    z-index: 9;
    width: 50%;
  }

  .categories_menu_inner{
    width: 300px;
  }

  .footer-widget.info-link-widget {
    margin-top: 30px;
  }
  .info-link-widget {
    padding-left: 0px;
  }
  .blog-details .blog-content .content .tag-social-link{
    display: flow-root;
  }
  .blog-details .blog-content .content .tag-social-link .social-links{
    margin-top: 10px;
  }
  .contact-us .right-area .top-content{
    margin-top: 40px;
  }

  .product-details-page .all-item-slider .slidPrv4.slick-arrow{
    left: 0;
    top: 50%;
    transform: translateY(-50%) rotate(-90deg);
  }
  .product-details-page .all-item-slider .slidNext4.slick-arrow{
    right: 0%;
    left: auto;
    top: 50%;
    transform: translateY(-50%) rotate(-90deg);
  }
  .product-details-page #product-details-tab ul li a {
    padding: 4px 20px;
}
.product-details-page #coment-area .all-comments li .single-comment{
  display: flow-root;
}
.product-details-page #coment-area .all-comments li .single-comment .left-area img {
  width: 100px;
  height: 100px;
}

.cartpage .left-area{
  -webkit-overflow: hidden;
  -moz-overflow: hidden;
  overflow: hidden;
}
.cartpage .left-area .cart-table{
 max-width: 767px;
  overflow-x: scroll;
}
.cartpage .left-area .cart-table .table{
  width: 700px;
}
.hero-area .hero-area-slider .intro-carousel .intro-content .slider-content .layer-1 .title {
  font-size: 34px;
}

.logo-header .helpful-links li.my-dropdown .cart .icon i,
.logo-header .helpful-links li.wishlist .wish i,
.logo-header .helpful-links li.compare .wish i,
.logo-header .helpful-links li.login .profile .img img,
.logo-header .helpful-links li.login .profile i
 {
  width: 30px !important;
}


  .logo-header .helpful-links ul li {
    margin-right: 10px;
    }

    .checkout-area .checkout-process li{
      margin-bottom: 10px;
  }
}


@media only screen and (max-width: 575px) {
  .flash-deals .flas-deal-slider .item .deal-counter {
    padding: 8px;
}
  .sub-categori .modal .modal-dialog {
    width: 280px;
  }
  .vendor-banner .sub-title {
    font-size: 18px;
    line-height: 28px;
}
  .vendor-banner .title {
    font-size: 30px;
    line-height: 40px;
}
  .sub-categori .modal .contact-form ul li .input-field.textarea {
    margin-bottom: 20px;
}
  .sub-categori .modal .contact-form ul li .input-field{
    padding: 0px;
    height: 40px;
    margin-bottom: 10px;
    font-size: 14px;
  }
  .sub-categori .modal .contact-form {
    margin-top: 0px;
}
  .logo-header .search-box {
    width: 100%;
    margin-top: 10px;
}

.top-header .sign-log {
  position: relative;
  top: -2px;
}
.thankyou .content .heading {
  font-size: 21px;
  line-height: 31px;
  margin-bottom: 20px;
}
/*.logo-header {
  padding: 20px 0px 18px;
}*/
/*  .top-header .remove-padding,
  .logo-header .remove-padding,
  .mainmenu-area .remove-padding
  {
    padding-left: 15px;
    padding-right: 15px;
  }*/

  .blog-details .blog-content .content .title {
    font-size: 22px;
    line-height: 32px;
}
.blog-details .blog-content .content .title {
    font-size: 21px;
    line-height: 31px;
}
.blog-details .comments .title {
  font-size: 24px;
  line-height: 34px;
}
.blog-details .write-comment .title {
  font-size: 24px;
  line-height: 34px;
}
.blog-details .blog-aside .categori .title,
.blog-details .blog-aside .recent-post-widget .title,
.blog-details .blog-aside .archives .title,
.blog-details .blog-aside .tags .title
{
  font-size: 21px;
  line-height: 31px;
}
.blog-details .blog-content .content .tag-social-link{
  display: flow-root;
}
.blog-details .blog-content .content .tag-social-link .social-links{
  margin-top: 15px;
}
.checkout .left-area .checkoutform .title {
  font-size: 30px;
  line-height: 40px;
}
.checkout .left-area .checkoutform .payment-information .pm-list li img{
   width: 60px;
}
.contact-us .contact-section-title .title {
  font-size: 30px!important;
  line-height: 40px!important;
}
.contact-us .contact-section-title .subtitle {
  font-size: 18px!important;
  line-height: 28px!important;
}
.contact-us .right-area .top-content .title {
  font-size: 24px!important;
  line-height: 24px!important;
}
.contact-us .right-area .social-links ul li a {
  font-size: 14px;
  width: 40px;
  height: 40px;
  line-height: 40px;
}

.product-details-page #product-details-tab ul li a {
  padding: 0px 12px;
  margin-bottom: 5px;
}

.product-details-page #coment-area .all-comments li .single-comment .right-area .header-area .name {
  font-size: 16px;
}
.sub-categori .modal .input-field.textarea {
  min-height: 90px;
}

.logo-header .helpful-links li.my-dropdown .cart .icon i,
.logo-header .helpful-links li.wishlist .wish i,
.logo-header .helpful-links li.compare .wish i,
.logo-header .helpful-links li.login .profile .img img,
.logo-header .helpful-links li.login .profile i,
.logo-header .helpful-links ul li .sign-log .links span
 {
  width: 30px !important;
}

.logo-header .helpful-links ul li {
  margin-right: 10px;
}

.sub-categori .right-area .categori-item-area .item .item-img img {
  width: 208px;
  height: auto;
}

.mainmenu-area .categories_menu{
  z-index: 999;
}

nav .nav-header .toggle-bar {

top: 14px;

}
.sub-categori .right-area .categori-item-area .item .item-img .extra-list {
top: 20px;
}
.sub-categori .right-area .categori-item-area .item .item-img .extra-list {
  top: 20px;
}
.message-modal .modal .modal-dialog{
  width: 100%;
}
.trending .item .item-img .extra-list {
  top: 20px;
}
   
.process-steps li {
  width: 100%;
  float: unset;
  text-align: left;
}
.process-steps li .icon{
  margin-left: 0px;
  text-align: center;
}
.process-steps li {
  display: flex;
  padding-bottom: 20px;
}
.process-steps li .icon{
  margin-right: 10px;
}
.process-steps li .title{
  flex: 1;
}
.process-steps  li::after{
  width: 3px;
  height: calc(100% - 30px);
  top: 30px;
  left: 15px;
}
.process-steps  li:last-child::after{
  display: none;
}
.process-steps  li:last-child{
  padding-bottom: 0px;
}
.process-steps-area{
  margin-bottom: 20px;
}
.user-dashbord .user-profile-details .order-details .header-area {
  margin-top: 40px;
}
.process-steps li:first-child::after{
  display: block;
}


}

@media only screen and (max-width: 550px) {
  .blog-area .blog-box{
    display:flow-root!important;
  }
  .blog-area .blog-box .blog-images{
    width: 100%;
  }
  .blog-area .blog-box .details{
    padding: 7px 0px 7px;
  }

.sub-categori .right-area .categori-item-area .item .info .price{
  font-size: 20px;
}
.sub-categori .right-area .categori-item-area .item .info .name {
  font-size: 14px;
  line-height: 17px;
}
.product-details-page .right-area .product-info .info-meta-1 ul li p{
  margin-bottom: 0px;
}
.product-details-page .right-area .product-info .info-meta-3 .meta-list li.count .qty{
  width: 100%;
  margin-bottom: 20px;
}
.product-details-page #product-details-tab .tab-content-wrapper {
  padding: 30px 15px 30px;
}
.product-details-page .right-area .product-info .product-name {
  font-size: 21px;
  line-height: 31px;
}

.hero-area .hero-area-slider .intro-carousel.owl-carousel .owl-controls .owl-nav .owl-prev, 
.hero-area .hero-area-slider .intro-carousel.owl-carousel .owl-controls .owl-nav .owl-next {
  font-size: 16px;
  width: 40px;
  height: 40px;
  line-height: 40px;
}

.hero-area .hero-area-slider .intro-carousel .intro-content {
  padding: 100px 50px;
}


.logo-header .helpful-links li.my-dropdown .cart .icon i,
.logo-header .helpful-links li.wishlist .wish i,
.logo-header .helpful-links li.compare .wish i,
.logo-header .helpful-links li.login .profile .img img,
.logo-header .helpful-links li.login .profile i,
.logo-header .helpful-links ul li .sign-log .links span
 {
  width: 30px !important;
}


    .logo-header .helpful-links ul li {
      margin-right: 10px;
      }
      .blog-area .blog-box .blog-images .img img {
        width: 100%;
        height: auto;
    }
    

}

@media (max-width: 500px) {
  .single-wish{
    display: flow-root;
  }
  .single-wish .left {
    margin-right: 0px;
    margin-bottom: 20px;
}

.logo-header .helpful-links li.my-dropdown .cart .icon i,
.logo-header .helpful-links li.wishlist .wish i,
.logo-header .helpful-links li.compare .wish i,
.logo-header .helpful-links li.login .profile .img img,
.logo-header .helpful-links li.login .profile i
 {
  width: 30px !important;
}
.logo-header .helpful-links ul li {
  margin-right: 10px;
  }
  .hero-area .info-box{
    display: flow-root;
    justify-content: center;
    text-align: center;
    margin-bottom: 10px;
  }
  .hero-area .info-box .icon {
    width: 50px;
    height: 50px;
    line-height: 50px;
    margin-bottom: 0px;
    margin-right: 0px;
}
.hero-area .info-box .icon img{
  width: 25px;
}

.autocomplete {
 position: unset;
 width: 100%;
 margin-top: 50px;
}
div#myInputautocomplete-list {
    top: 50px;
    width: 100%;
}
.autocomplete-items div{
  width: 100%;
}



}


@media only screen and (max-width: 450px) {
  .trending .item .info .price {
    font-size: 20px;
  }

.trending .item .item-img .extra-list ul li a,
.categori-item .item .item-img .extra-list ul li a,
.sub-categori .right-area .categori-item-area .item .item-img .extra-list ul li a 
{
  width: 25px;
  height: 25px;
  line-height: 24px;
  font-size: 13px;
  margin-bottom: 5px;
}
.section-top .section-title {

  font-size: 18px;
  line-height: 38px;
}
.bottomtotop i {
  width: 40px;
  height: 40px;
  line-height: 40px;
}
.checkout .right-area .footer .right .price {
  font-size: 24px;
}
.hero-area .hero-area-slider .intro-carousel .intro-content .slider-content .layer-1 .subtitle {
  font-size: 18px;
  margin-bottom: 0px;
}
.hero-area .hero-area-slider .intro-carousel .intro-content .slider-content .layer-1 .title {
  font-size: 24px;
}
.hero-area .hero-area-slider .intro-carousel .intro-content .slider-content .layer-2 .text {
  font-size: 14px;
}

.logo-header .helpful-links li.my-dropdown .cart .icon i,
.logo-header .helpful-links li.wishlist .wish i,
.logo-header .helpful-links li.compare .wish i,
.logo-header .helpful-links li.login .profile .img img,
.logo-header .helpful-links li.login .profile i,
.logo-header .helpful-links ul li .sign-log .links span
 {
  width: 30px !important;
}


.logo-header .helpful-links li.my-dropdown .cart  p.resp,
.logo-header .helpful-links li.wishlist .wish p,
.logo-header .helpful-links li.compare .wish p,
.logo-header .helpful-links li.login .links a,
.logo-header .helpful-links ul li .sign-log .links span
 {
  font-size: 10px !important;
}

    .logo-header .helpful-links ul li {
      margin-right: 5px;
      }
}


@media only screen and (max-width: 414px) {
  .categorimenu-wrapper {
    width: 60%;
}  
.blog-area .aside .slider-wrapper {

  background: #ffff;
  padding: 50px 30px 50px;
}
.sub-categori .right-area .item-filter .filter-list li p {
  font-size: 14px;
}
.login-signup .login-area .header-area .title {
  font-size: 24px;
  margin-bottom: 0px;
}
.login-signup .login-area .header-area .text {
  font-size: 14px;
}
.login-signup .login-area .to-login-page{
  font-size: 14px;
}
.single-wish{
  text-align: center;
  justify-content: center;
}
.single-wish .left img{
  display: inline-block;
}
.single-wish .left {
  margin-right: 0px;
  margin: 0 auto;
  display: inline-block;
}
.single-wish .right .title {
  margin-top: 20px;
}
.logo-header .helpful-links li.my-dropdown .cart .icon i,
.logo-header .helpful-links li.wishlist .wish i,
.logo-header .helpful-links li.compare .wish i,
.logo-header .helpful-links li.login .profile .img img,
.logo-header .helpful-links li.login .profile i,
.logo-header .helpful-links ul li .sign-log .links span
 {
  width: 30px !important;
}

.logo-header .helpful-links li.my-dropdown .cart  p.resp,
.logo-header .helpful-links li.wishlist .wish p,
.logo-header .helpful-links li.compare .wish p,
.logo-header .helpful-links li.login .links a,
.logo-header .helpful-links ul li .sign-log .links span
 {
  font-size: 10px !important;
}

    .logo-header .helpful-links ul li {
      margin-right: 5px;
      }
    .hero-area .hero-area-slider .intro-carousel .intro-content {
      padding: 25px 30px;
      height: auto;
  }
  .hero-area .hero-area-slider .intro-carousel .intro-content .slider-content .layer-2 .text{
    font-size: 14px!important;
  }
  
  .hero-area .hero-area-slider .intro-carousel .intro-content .slider-content .layer-3 a {
    margin-top: 0px !important;
    padding: 0px 0px;
    width: 110px;
    height: 30px;
    line-height: 30px;
    font-size: 12px;
  }
  .info-area .info-box {
    padding: 5px;
}
.hero-area .hero-area-slider .intro-carousel .intro-content .slider-content .layer-3 a i {
  font-size: 11px;
}
  .hero-area .hero-area-slider .intro-carousel .intro-content .slider-content .layer-1 .title{
    margin-bottom: 0px;
  }
  .item .info .name {
    font-size: 14px;
  }

  .product-details-page .right-area .product-info .product-color .color-list li .box {
    width: 25px;
    height: 25px;
  }
  .product-details-page .right-area .product-info .info-meta-3 .meta-list li.count .qty ul li .qttotal, 
  .product-details-page .right-area .product-info .info-meta-3 .meta-list li.count .qty ul li .qtminus, 
  .product-details-page .right-area .product-info .info-meta-3 .meta-list li.count .qty ul li .qtplus {
    display: inline-block;
    width: 35px;
    height: 35px;
    line-height: 35px;
    font-size: 14px;
  }
  .product-details-page .right-area .product-info .social-links .link-list li a {
    height: 35px;
    width: 35px;
    line-height: 35px;
  }
  .product-details-page .right-area .product-info .info-meta-3 .meta-list li.favorite a, 
  .product-details-page .right-area .product-info .info-meta-3 .meta-list li.compare a {
    height: 35px;
    width: 35px;
    line-height: 35px;
  }
  .product-details-page .right-area .product-info .info-meta-3 .meta-list li.addtocart a {
    padding: 0px 13px;
    height: 35px;
    line-height: 35px;
  }
  .product-details-page .right-area .product-info .info-meta-3 {
    padding: 14px 0px 10px;
  }
  .product-details-page .right-area .product-info .product-color .color-list li {
    margin-right: 2px;
  }
  .product-details-page #product-details-tab.ui-tabs .ui-tabs-panel {
    padding: 0px!important;
  }
  .blog-details .blog-content .content {
    padding: 20px 10px 30px;
  }
  .user-profile-details .header-area .mybtn1 {
    margin-left: 0px;
    margin-top: 10px;
    display: block;
  }
  .hero-area .hero-area-slider .intro-carousel.owl-carousel .owl-controls .owl-nav .owl-prev,
   .hero-area .hero-area-slider .intro-carousel.owl-carousel .owl-controls .owl-nav .owl-next {
    font-size: 14px;
    width: 30px;
    height: 30px;
    line-height: 30px;
  }
  .contact-us .left-area .contact-form {
    padding: 30px 20px 30px;
  }
  .logo-header .search-box .search-form input {
    padding: 0px 40px 0px 0px;
  }
  .info-area .info-box .icon {
    line-height: 45px;
    margin-right: 10px;
}
.info-area .info-box .info .details .title {
  font-size: 14px;
  line-height: 20px;
}
.info-area .info-box .info .details .text {
  font-size: 12px;
}
.item .info .name {
    height: 60px;
}
.item .add-to-cart-btn {
    font-size: 12px;
    padding: 1px 0px;
    width: 120px;
    margin: 3px auto;
}
.item .info .name {
    font-size: 13px;
    line-height: 18px;
}
  .flash-deals .flas-deal-slider .item .deal-counter span {
          font-size: 18px;
          line-height: 22px;
          }
.item .item-img .extra-list ul li span {
    width: 25px;
    height: 25px;
    line-height: 25px;
    font-size: 12px;
    margin-bottom: 4px;
}
.product-details-page .right-area .product-info .info-meta-3 .meta-list li.addtocart a {

    margin: 3px;

}

/* Comment Area Css Start */
#product-details-tab #comment-area .all-comment li .single-comment{
  display: flow-root;
}
#product-details-tab #comment-area .all-comment li .single-comment .left-area {
  text-align: left;
  padding-right: 0px;
  margin-right: 0px;
  margin-bottom: 10px;
}
#product-details-tab #comment-area .all-comment li .single-comment .left-area::before{
  display: none;
}
#product-details-tab #comment-area .all-comment li .replay-area {
  position: relative;
  padding-left: 00px;
  margin-bottom: 20px;
}
#product-details-tab #comment-area .all-comment li .replay-review {
  margin-left: 30px;
}
/* Comment Area Css End */

/* Review Area Css Start */
#product-details-tab #replay-area .all-replay li .single-review{
  display: flow-root;
}
#product-details-tab #replay-area .all-replay li .single-review .left-area {
  text-align: left;
  padding-right: 0px;
  margin-right: 0px;
}
#product-details-tab #replay-area .all-replay li .single-review .left-area::before{
  display: none;
}
/* Review Area Css End */


}


@media only screen and (max-width: 390px) {
  .sub-categori .right-area .categori-item-area .item .item-img .time {
    top: 10px;
    left: 10px;
    height: 35px;
    width: 35px;
    font-size: 11px;
    line-height: 35px;
}

.sub-categori .right-area .categori-item-area .item:hover .extra-list {
  left: 10px;
}
.categories_menu_inner {
  width: 280px;
}
.checkout .right-area .body-area .box {
  display: flow-root;
}
.checkout .right-area .body-area .box .right .title{
  margin-top: 10px;
}
.contact-us .right-area .contact-info{
  display: flow-root!important;
  text-align: center;
}
.contact-us .right-area .contact-info .left {
  margin-bottom: 20px;
}
.contact-us .right-area .contact-info .left .icon{
  display: inline-block;
  margin-right: 0px;
}
.login-signup .login-area .form-forgot-pass{
  display: flow-root;
}

.logo-header .helpful-links li.my-dropdown .cart .icon i,
.logo-header .helpful-links li.wishlist .wish i,
.logo-header .helpful-links li.compare .wish i,
.logo-header .helpful-links li.login .profile .img img,
.logo-header .helpful-links li.login .profile i
 {
  width: 30px !important;
}

.logo-header .helpful-links li.my-dropdown .cart  p.resp,
.logo-header .helpful-links li.wishlist .wish p,
.logo-header .helpful-links li.compare .wish p,
.logo-header .helpful-links li.login .links a
 {
  font-size: 9px !important;
}

    .logo-header .helpful-links ul li {
      margin-right: 10px;
      }
      .login-area .form-forgot-pass{
        display: flow-root;
      }
      
        .item .item-img .extra-list ul li span {
          margin-bottom: 4px;
        }
      .logo-header .helpful-links li.my-dropdown .cart .icon i, .logo-header .helpful-links li.wishlist .wish i, .logo-header .helpful-links li.compare .wish i, .logo-header .helpful-links li.login .profile .img img, .logo-header .helpful-links li.login .profile i {
          width: 28px !important;
          font-size: 14px;
      }
      
}


@media only screen and (max-width: 350px) {

.info-area .info-box .icon img {
    width: 20px;
}

}



@media only screen and (max-width: 360px) {
  .item .info {
    padding: 10px 10px 12px;
}

  .col-lg-3.col-sm-6.col-5.remove-padding,
  .col-lg-3.col-sm-6.col-7.remove-padding.order-lg-last
  {
    padding: 0;
  }
.elegant-pricing-tables .price-digit {
    font-size: 30px;
}
.elegant-pricing-tables .price sup {
    top: -10px;
}
#product-details-tab #comment-area .all-comment li .replay-area button {
  width: 110px;
  margin-right: 7px;
}
#product-details-tab #comment-area .all-comment li .replay-area .remove {
  width: 110px;
}

  }


/****** Tarun *******/
/***** Buyer *****/
@media (max-width: 1440px){
  .buyer-category-banner .banner-right-img {
    top: -245px;
    right: -90px;
  }
  .w-26{
    max-width: initial;
    margin-right: 0;
  }
  .w-20{
    max-width: initial;
  }
  a.freeConsulting-btn {
    width: initial;
  }
  .page-main-content-banner.productlist-banner.buyer-category-banner {
    margin-top: 60px;
  }
  .popular-category-item .popular-category-title h4{
    font-size: 20px;
  }
  .page-main-content-banner.buyer-category-banner .bannerContent-wrap{
    padding: 67px 0;
  }
  ul.menu.menu-left-list {
    margin-left: 30px;
  }
  .menu-left-wrapper ul.menu-left-list li:first-child a{
    margin-right: 0;
  }
  ul.menu.menu-left-list li.active a:after{
    bottom: -28px;
  }
}

@media (max-width: 1366px){
  .page-main-content-banner.buyer-category-banner{
    margin-top: 56px;
  }
  .buyer-category-banner .owl-carousel .owl-nav button.owl-prev, .categroylisting-banner-wrap .owl-carousel .owl-nav button.owl-prev{
    left: 7px;
  }
  .buyer-category-banner .owl-carousel .owl-nav button.owl-next, .categroylisting-banner-wrap .owl-carousel .owl-nav button.owl-next {
    right: 7px;
  }
  .buyer-category-banner .owl-carousel .owl-nav button.owl-prev, .buyer-category-banner .owl-carousel .owl-nav button.owl-next, .categroylisting-banner-wrap .owl-carousel .owl-nav button.owl-prev, .categroylisting-banner-wrap .owl-carousel .owl-nav button.owl-next{
    width: 30px;
    height: 30px;
    font-size: 13px;
  }
  .page-title-block h2.buyer-category-page-title {
    font-size: 26px;
    margin: 80px 0;
  }
  .popular-category-item .popular-category-title h4 {
    font-size: 18px;
  }
  .popular-category-wrapper{
    margin-bottom: 0;
  }
  section.tabs-contant-section {
    padding: 60px 0 80px;
  }
}

/***** Mobile Menu Start Media *********/
@media (max-width: 991px){
  .mainmenu-wrapper nav.core-nav .full-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
  }
  .mobile-topNav-wrap {
      background: #3c3c3c;
      padding: 24px 0;
  }
  nav.navbar.mobile-secondary-menu-wrap a {
      font-size: 16px;
      color: #fff;
      margin-bottom: 25px;
      padding-bottom: 25px;
      display: block;
      border-bottom: 1px solid #fff;
  }
  /*nav.navbar.mobile-secondary-menu-wrap li:last-child a{
    border-bottom: none;
  }*/
  nav.navbar.mobile-secondary-menu-wrap .menu-primary-container{
    width: 100%;
  }
  .search-box.menu-search-box{
    margin-bottom: 30px;
  }
  nav.navbar.mobile-secondary-menu-wrap{
    padding: 0;
  }
  .search-box.menu-search-box .input-group input,
  .search-box.menu-search-box .input-group button.input-group-text {
      background: transparent;
      border-color: rgba(151, 151, 151, 0.5);
      border-radius: 0;
      height: 40px;     
  }
  .search-box.menu-search-box .input-group input{
    border-right: 0;
    color: #ffff;
  }
  .search-box.menu-search-box .input-group button.input-group-text {
    border-left: 0;
  }
  .mobile-menu-logo {
      height: 25vh;
      display: flex;
      justify-content: center;
      align-items: center;
  }
}
/***** Mobile Menu end Media *********/
@media (max-width: 991px){
  .tabs-nav .nav li {
    min-width: 190px;
  }
  .footer-widget.quick-links {
    margin-top: 60px;
  }
  .page-main-content-banner.buyer-category-banner .bannerContent-wrap h1.bannerTitle{
    font-size: 36px;
  }
  .page-main-content-banner.buyer-category-banner .bannerContent-wrap{
    padding: 68px 0;
  }
  .page-title-block h2.buyer-category-page-title{
    margin: 74px 0 60px;
        font-size: 26px;
  }
  section.tabs-contant-section{
        padding: 40px 0;
  }
  .page-main-content-banner.productlist-banner.buyer-category-banner{
    margin-top: 0;
  }
  .page-main-content-banner.buyer-category-banner{
    height: initial;
  }
}

@media (max-width: 767px){
  .page-main-content-banner.buyer-category-banner .bannerContent-wrap h1.bannerTitle{
    font-size: 28px;
  }
  .page-main-content-banner.productlist-banner .bannerContent-wrap p{
    width: initial;
    font-size: 14px;
  }
  .footer-widget.info-link-widget{
    margin-top: 50px;
  }
  .footer {
    padding: 65px 0 10px 0;
  }
  .copyright-widget {
    margin-top: 43px;
    text-align: center;
  }
  .privacy-links {
    margin-top: 20px;
  }
  .copyright-widget .content p{
    font-size: 12px;
  }
  .tabs-nav.category-tabs-wrap ul {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: scroll;
  }
  .page-main-content-banner.productlist-banner.buyer-category-banner .banner-btn {
    width: 190px;
    font-size: 14px;
  }
  .page-title-block h2.buyer-category-page-title {
    margin: 50px 0 40px;
    font-size: 20px;
  }
  .popular-category-item{
    margin-bottom: 20px;
  }
  .popular-category-item .popular-category-title h4{
    min-height: initial;
    font-size: 20px;
  }
  .tabs-nav.category-tabs-wrap .nav li {
    min-width: 140px;
  }
  .footer {
    text-align: center;
    padding: 30px 0;
  }
  .footer-widget.footer-info-area {
    margin-bottom: 40px;
  }
}



/****** Product Category List  ****/
@media (max-width: 1440px){
  .categroylisting-banner-wrap .bannerContent-wrap {
    padding: 109px 0;
  }
  .info.prodct-grid-content h5.name.productName {
    font-size: 18px;
  }
}

@media (max-width: 1366px){
  .page-main-content-banner .bannerContent-wrap h1.bannerTitle {
    font-size: 32px;
  }
  .bannerContent-wrap p {
    font-size: 16px;
  }
  .categroylisting-banner-wrap, .categroylisting-banner-wrap .categroylisting-slider .item .addBanner-img{
    height: auto;
  }
  .categroylisting-banner-wrap .bannerContent-wrap {
      padding: 92.14px 0;
  }
}

@media (max-width: 1280px){
  .categroylisting-banner-wrap .bannerContent-wrap {
    padding: 81.99px 0;
  }
}
@media (max-width: 991px){
  .price-button a.btn-primary {
    font-size: 12px;
  }
  .product-feature-left-tab .nav-link.active:before{
    display: none;
  }
  .product-feature-left-tab .nav-link{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 3.4;
    font-size: 15px;
    width: 100%;
  }
  .product-feature-right-tab-content .tab-content p {
    font-size: 15px;
  }
  .pricing-table .card p.tab-title, .price-label span.btn-head {
    font-size: 16px;
  }
  .productPrice-table-wrap table tbody tr th{
    min-width: 200px;
  }
  .productPrice-table-wrap table tbody tr td{
    min-width: 220px;
  }
}
@media (max-width: 767px){
  .page-main-content-banner.categroylisting-banner-wrap .bannerContent-wrap h1.bannerTitle {
    font-size: 26px;
  }
  .bannerContent-wrap p{
    font-size: 14px;
  }
  .tabs-nav.singleProduct-tabs-wrap ul.nav.nav-tabs {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: scroll;
  }
  .tabs-nav.singleProduct-tabs-wrap ul.nav.nav-tabs li.product-info-tabs {
    min-width: 140px;
    max-width: 140px;
  }
  .tabs-nav.singleProduct-tabs-wrap ul.nav.nav-tabs li.product-info-tabs a{
    font-size: 14px;
  }
  .product-feature-left-tab {
    display: none;
  }
  .product-feature-right-tab-content .tab_drawer_heading {
    background-color: #4ec2bd;
    color: #fff;
    margin: 0;
    padding: 20px;
    display: block;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border-bottom: 1px solid #71d2cd;
  }
  .product-feature-right-tab-content .tab-content{
    border-bottom:none;
  }
  .d_active {
    background-color: #666;
    color: #fff;
  }
  .product-feature-right-tab-content .tab_drawer_heading:after {
    content: "\f078";
    font-family: "Font Awesome 5 Free";
    font-weight: 600;
    font-size: 12px;
    float: right;
    vertical-align: middle;
    margin-top: 5px;
    clear: both;
  }
  section.tabs-contant-section .tab-content h3{
    font-size: 16px;
  }
  div#proOverview-tab p.tab-title {
    margin-bottom: 10px;
  }
  div#proOverview-tab > h3 {
    font-size: 22px;
    margin-bottom: 30px;
  }
  .productPrice-table-wrap table tbody tr th{
    font-size: 16px; 
  }
}



/******* Services Product page ***********/
@media (max-width: 1440px){
  .offer-name-block {
    font-size: 30px;
    margin-bottom: 20px;
  }
  .offer-logo h4 {
    margin: 0 10px 0 10px;
    font-size: 18px;
  }
  .offer_info h3,
  .about-seller h3{
    font-size: 24px;
  }
  .about-seller h4{
    font-size: 18px;s
  }
}

@media (max-width: 991px){
  .about-seller .col-lg-3.col-md-6.text-right {
    text-align: left !important;
  }
  .otherServices-slider{
    margin: 0;
  }
  section.offer-area-page .side-tabbar {
    margin-bottom: 30px;
  }
  .offer-logo h4{
    font-size: 15px;
  }
}

@media (max-width: 767px){
  .offer-name-block {
    font-size: 26px;
  }
  .offer-logo h4{
    font-size: 14px;
  }
  .offer-right-info .short-description p, div#about-seller .card p{
    font-size: 16px;
  }
  .about-seller h3 {
    font-size: 16px;
  }
  .about-seller .offer-logo-img {
    width: initial;
  }
  .about-seller a.btn.btn-border.btn-contact {
    margin-top: 20px;
    line-height: 40px;
  }
  .about-seller span.from, .about-seller h5 {
    font-size: 15px;
  }
  .offer-table h2{
    font-size: 22px;
  }
  .offer-table h3{
    font-size: 20px;
  }
  .recommended-carousel.owl-carousel .owl-nav button.owl-next, .recommended-carousel.owl-carousel .owl-nav button.owl-prev, .productSingle-gallery-carousel .owl-nav button.owl-next, .productSingle-gallery-carousel .owl-nav button.owl-prev{
    width: 24px;
    height: 24px;
    font-size: 12px;
  }
  .recommended-carousel.owl-carousel .owl-nav button.owl-next{
    right: 0;
  }
  .recommended-carousel.owl-carousel .owl-nav button.owl-prev{
    left: 0;
  }
  .productSingle-gallery-carousel .owl-nav button.owl-prev{
    left: -10px;
  }
  .productSingle-gallery-carousel .owl-nav button.owl-next{
    right: -10px;
  }
}


/****** Agency Profile **********/
@media (max-width: 1440px){
  .agency-profile-left-wrapper .agency-img-wrap{
    max-width: 160px;
  }
  .agency-profile-rating {
    padding: 0 10px 0 10px;
  }
  .agency-rating-wrap .agency-rating-content span {
    font-size: 16px;
  }
  .agency-fullProfile-content {
    padding: 0;
  }
  .agencyContact-btn, .agencyQuote-btn{
    width: 155px;
  }
  .agency-pro-grid-content .proVendor-name, .agency-pro-grid-content .proVendor-name a{
    font-size: 16px;
  }
}

@media (max-width: 991px){
  .agency-profile-left-wrapper .agency-img-wrap{
    max-width: 209px;
  }
  .agency-actionBtn-wrap {
    justify-content: space-evenly;
  }
  .agency-profile-left-wrapper{
    margin-bottom: 50px;
    height: initial;
  }
  .agency-pro-grid-content .proVendor-name a{
    height: initial;
  }
}

@media (max-width: 767px){
  .product-details-page {
      padding: 0;
  }
  .agency-pro-grid-content .proVendor-name a{
    text-transform: capitalize;
  }
  .agency-profile-left-wrapper{
    border: none;
    padding: 0;
  }
  .agency-profile-img-rating-wrap{
    display: block;
  }
  .agency-profile-left-wrapper .agency-img-wrap{
    margin: auto;
  }
  .agency-profile-left-wrapper .agency-name h2 {
    padding: 20px 0 30px 0;
    text-align: center;
    font-size: 26px;
  }
  .agency-actionBtn-wrap {
    justify-content: space-between;
  }
  .agency-profile-des p, .agency-sameInfo p{
    font-size: 16px;
  }
  .agency-sameInfo-about p {
    border-bottom: solid 1px #d2ddea;
    padding-bottom: 30px;
  }
  .page-main-title h2.seciton-head{
    font-size: 22px;
  }
  .product-listing-grid.agencyPro-grid-wrap {
    display: flex;
  }
  .item-img.product-listing-img a {
    width: 100px;
    padding: 0;
    display: flex;
    height: 100%;
  }
  .info.prodct-grid-content {
    padding: 13px;
  }
  .agency-pro-grid-content .proVendor-name,
  .info.prodct-grid-content h5.name.productName {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    text-transform: capitalize;
    width: 218px;
  }
  .info.prodct-grid-content h5.name.productName a{
    font-size: 16px;
  }
  .agency-seeOffer-btn a.seeOfferBtn.btn {
    border: none;
    width: initial;
  }
  .item-img.product-listing-img a img {
    max-height: 100px;
    max-width: 80px;
  }
  .agency-pro-grid-content .agency-category-rating {
    display: block;
    margin: 7px 0 20px;
  }

  .agency-pro-grid-content .agency-category-rating a {
    font-size: 14px;
  }
  .product-img-wrap img{
      object-fit: initial;
  }
}