//=== Homepage
//

.fre-wrapper {

}

body.admin-bar {
	.fre-header-wrap {
		top: 32px;
	}
}

.fre-header-wrapper {
	display: block;
	width: 100%;
	height: 84px;
	margin-bottom: 1px;
}
.fre-header-wrap {
	position: fixed;
	top: 0;
	background: #FFF;
	width: 100%;
	// height: 100%;
	border-bottom: 1px solid rgba(#e1e6ea, 0.75);
	z-index: 1040;
}

.fre-header-wrap {

}
.fre-site-logo {
	display: inline-block;
	padding: 22px 0;
	margin-right: 42px;
	line-height: 40px;
	vertical-align: middle;
	> a {
		display: inline-block;
		height: 40px;
		img {
			max-height: 100%;
			max-width: 100%;
		}
	}
}
.fre-search-wrap {
	display: inline-block;
	width: 250px;
	// height: 100%;
	padding: 22px 0;
	vertical-align: middle;
}
.fre-search {
	position: relative;
	width: 100%;
	height: 40px;
}
.fre-search-field {
	width: 100%;
	height: 100%;
	padding-left: 62px;
	padding-right: 14px;
	border: 1px solid $color_border_base;
	border-radius: 4px;
	box-shadow: none;
	outline: none;
	&:focus, &:active {
		outline: none;
	}
}
.fre-search-dropdown-btn {
	display: inline-block;
	font-size: $font_size_medium;
	color: $color_text_1;
	position: absolute;
	top: 50%;
	left: 14px;
	transform: translateY(-50%);
	cursor: pointer;
	i {
		+ i {
			margin-left: 10px;
		}
	}
}
.fre-search-dropdown {
	left: 1px;
	width: calc(100% - 2px);
	padding: 10px 0;
	margin-top: -1px;
	border: none;
	border-top: 1px solid $color_top_shadow_base;
	/* border-top-left-radius: 0;
	border-top-right-radius: 0; */
	@include box-shadow-dropdown();
	border-radius: 0;
	> li {
		> a {
			padding: 10px 29px;
			font-size: $font_size_base;
			font-weight: 500;
			cursor: pointer;
			&.active {
				color: $color_skin;
			}
			&:hover {
				background: none;
				color: $color_skin;
			}
		}
	}
}
.fre-search-dropdown-btn {
	i {
		+ i {
			margin-left: 10px;
		}
	}
}


.fre-menu-top {
	display: inline-block;
	height: 100%;
	margin-left: 8px;
	vertical-align: middle;
}

.fre-menu-page {
	@media (max-width: 1199px) {
		width: 100%;
		background: #FFF;
	}
	.dropdown-menu > .active > a {
		background-color:  transparent;
		color: $color_skin;
	}
}


.fre-menu-main {
	margin: 0;
	padding: 0;
	> li {
		display: inline-block;
		padding: 32px 0;
		margin-left: 20px;
		cursor: pointer;
		&.dropdown-empty {
			&:hover {
				&:before, &:after {
					display: none;
				}
			}
		}
		&:hover {
			> a {
				color: $color_skin;
			}
			> .dropdown-menu {
				display: block;
			}
			&:before {
				content: '';
				display: block;
				width: 0;
				height: 0;
				border-style: solid;
				border-width: 0 13px 13px 13px;
				border-color: transparent transparent darken($color_top_shadow_base, 5%) transparent;
				position: absolute;
				bottom: 0;
				left: 26px;
				z-index: 1101;
			}
			&:after {
				content: '';
				display: block;
				width: 0;
				height: 0;
				border-style: solid;
				border-width: 0 13px 13px 13px;
				border-color: transparent transparent #ffffff transparent;
				position: absolute;
				bottom: -1px;
				left: 26px;
				z-index: 1102	;
			}
		}


		> a {
			display: inline-block;
			height: 18px;
			line-height: 18px;
			i {
				margin-left: 8px;
			}
		}
		+ li {
			margin-left: 32px;
		}
		> .dropdown-menu {
			margin: 0;
			padding: 12px 0;
			min-width: 204px;
			border: none;
			border-top: 1px solid $color_top_shadow_base;
			// border-top: 1px solid rgba(#e1e6ea, 0.75);
			// -webkit-box-shadow: 0px 2px 1px 0px #e4e4e4;
			// -moz-box-shadow: 0px 2px 1px 0px #e4e4e4;
			// box-shadow: 0px 2px 1px 0px #e4e4e4;
			@include box-shadow-dropdown();
			border-radius: 0;
			left: -20px;
			z-index: 1010;
			> li {
				padding: 8px 0;
				padding-left: 30px;
				padding-right: 30px;
				> a {
					i {
						margin-left: 8px;
					}
				}
			}
		}
	}
	li {
		a {
			display: inline-block;
			padding: 0;
			font-size: $font_size_base;
			color: $color_text;
			font-weight: 500;
			text-transform: uppercase;
			white-space: nowrap;
			&:hover {
				background: none;
				color: $color_skin;
			}
		}
	}
}

.sub-menu {
	background: #FFF;
	padding: 0;
	padding-top: 14px;
	@media (max-width: 767px) {
		width: 100%;
	}
	li {
		padding: 8px 0 8px 14px;
		list-style-type: none;
		&:first-child {
			padding-top: 0;
		}
		&:last-child {
			padding-bottom: 0;
		}
		a {
			display: inline-block;
			padding: 0;
			font-size: $font_size_base;
			color: $color_text;
			// font-weight: 400;
		}
	}
}

.fre-account-wrap {
	display: inline-block;
	float: right;
	height: 100%;
	&.open {
		&:before {
			content: '';
			display: block;
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 0 13px 13px 13px;
			border-color: transparent transparent darken($color_top_shadow_base, 5%) transparent;
			position: absolute;
			bottom: 0;
			left: -3px;
		}
		&:after {
			content: '';
			display: block;
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 0 13px 13px 13px;
			border-color: transparent transparent #ffffff transparent;
			position: absolute;
			bottom: -1px;
			left: -3px;
		}
	}
	> .dropdown-menu {
		// margin: 0;
		margin: 1px 0 0;
		padding: 0;
		width: 390px;
		border:none;
		/* border-top-left-radius: 0;
		border-top-right-radius: 0; */
		-webkit-box-shadow: 0px 2px 1px 0px #e4e4e4;
		-moz-box-shadow: 0px 2px 1px 0px #e4e4e4;
		box-shadow: 0px 2px 1px 0px #e4e4e4;
		border-radius: 0;
		left: inherit;
		right: -3px;
		> li {
			position: relative;
			padding: 14px 20px;
			border: 1px solid $color_top_shadow_base;
			border-top: 1px solid transparent;
			&:hover {
				border: 1px solid $color_skin;
			}
			&.fre-notify-new {
				background: #f1f5fd;
			}
			&:last-child {
				border: 1px solid $color_top_shadow_base;
				border-top: none;
				border-bottom: none;
				&:hover {
				}
			}
			.fre-notify-archive {
				margin: 0;
				font-size: $font_size_base;
				color: $color_text_2;
				line-height: 1.5em;
				> span {
					color: $color_skin;
					cursor: pointer;
				}
				+ .fre-notify-wrap {
					display: none;
					+ .notify-remove {
						display: none;
					}
				}
			}
			a {
				background: none;
				display: inline-block;
				padding: 0;
				&:hover {
					background: none;
				}
				&.fre-notify-wrap {
					position: relative;
					display: block;
					padding: 0 0 0 52px;
					margin-right: 30px;
					white-space: normal;
					.notify-avatar {
						display: block;
						width: 36px;
						height: 36px;
						position: absolute;
						left: 0;
						top: 4px;
						overflow: hidden;
						img {
							width: 100%;
							height: auto;
							border-radius: 50%;
						}
					}
					.notify-info {
						display: -webkit-box;
					    overflow: hidden;
					    white-space: normal;
					    text-overflow: ellipsis;
					    -webkit-box-orient: vertical;
					    -webkit-line-clamp: 2;
					    height: 3.4em;
					    line-height: 1.7em;
					    font-weight: 500;
					    color: $color_text;
						.author-admin {
							color: #f44336;
						}
					}
					.notify-time {
						display: block;
						font-weight: 500;
						line-height: 1.7em;
						color: #415161;
					}
				}
				&.view-more-notify {
					font-size: $font_size_base;
					font-weight: 600;
					color: $color_skin;
					padding: 2px 0;
				}
			}
			.notify-remove {
				display: block;
				width: 24px;
				height: 24px;
				padding: 5px;
				position: absolute;
				top: 12px;
				right: 15px;
				cursor: pointer;
				span {
					position: relative;
					display: block;
					width: 100%;
					height: 100%;
					&:before {
						position: absolute;
						left: 0;
						top: 7px;
						content: '';
						display: block;
						width: 100%;
						height: 1px;
						background: #5f6d7d;
						transform: rotate(45deg);
					}
					&:after {
						position: absolute;
						left: 0;
						top: 7px;
						content: '';
						display: block;
						width: 100%;
						height: 1px;
						background: #5f6d7d;
						transform: rotate(-45deg);
					}
				}
			}
		}
	}
	.fre-notification {
		margin: 31px 0;
		margin-right: 24px;
	}
}
.fre-account {
	display: inline-block;
	padding: 24px 0;
	// padding-left: 42px;
	vertical-align: middle;
	&.open {
		.fre-account-info {
			span, i {
				color: $color_skin;
			}
		}
		&:before {
			content: '';
			display: block;
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 0 13px 13px 13px;
			border-color: transparent transparent darken($color_top_shadow_base, 5%) transparent;
			position: absolute;
			bottom: 0;
			right: 26px;
		}
		&:after {
			content: '';
			display: block;
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 0 13px 13px 13px;
			border-color: transparent transparent #ffffff transparent;
			position: absolute;
			bottom: -1px;
			right: 26px;
		}
	}
	.dropdown-menu {
		// margin: -1px 0 0;
		margin: 1px 0 0;
		padding: 12px 0;
		min-width: 204px;
		border: none;
		// border-top: none;
		// border-top: 1px solid rgba(#e1e6ea, 0.75);
		/* border-top-left-radius: 0;
		border-top-right-radius: 0; */
		/* -webkit-box-shadow: 0px 2px 1px 0px #e4e4e4;
		-moz-box-shadow: 0px 2px 1px 0px #e4e4e4;
		box-shadow: 0px 2px 1px 0px #e4e4e4; */
		@include box-shadow-dropdown();
		border-radius: 0;
		right: 0;
		left: initial;
		> li {
			padding: 8px 0;
			padding-left: 30px;
			padding-right: 30px;
			a {
				background: none;
				display: inline-block;
				padding: 0;
				text-transform: uppercase;
				font-weight: 500;
				&:hover {
					color: $color_skin;
				}
			}
		}
	}
}

.fre-notification {
	position: relative;
	display: inline-block;
	width: 22px;
	height: 22px;
	font-size: 0;
	line-height: 1em;
	vertical-align: middle;
	&.dropdown-toggle {
		i {
			margin-top: 3px;
		}
	}
	i {
		font-size: $font_size_large;
		color: $color_text;
		&:hover {
			color: $color_skin;
		}
	}
	span {
		display: block;
		position: absolute;
		background: #f44336;
		top: -3px;
		right: 2px;
		width: 12px;
		height: 12px;
		border: 3px solid #ffffff;
		border-radius: 50%;
	}
}
.view-more-notify {
	font-size: $font_size_base;
	font-weight: 600;
	color: $color_skin;
}
.fre-account-info {
	position: relative;
	height: 36px;
	max-width: 210px;
	padding-left: 50px;
	padding-right: 18px;
	line-height: 36px;
	color: $color_text;
	cursor: pointer;
	&:hover {
		span, i {
			color: $color_skin;
		}
	}
	img {
		position: absolute;
		top: 0;
		left: 0;
		width: 36px;
		height: 36px;
		border-radius: 50%;
	}
	span {
		display: block;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		font-size: $font_size_base;
		font-weight: 500;
		line-height: 36px;
	}
	> i {
		position: absolute;
		top: 50%;
		right: 0;
		transform: translateY(-50%);
	}
}

.fre-login-wrap {
	padding: 24px 0;
}
.fre-login {
	margin: 0;
	padding: 0;
	> li {
		list-style-type: none;
		display: inline-block;
		height: 36px;
		line-height: 36px;
		a {
			display: inline-block;
			font-size: $font_size_base;
			font-weight: 500;
			color: $color_text;
			line-height: 1em;
		}
		+ li {
			margin-left: 28px;
		}
	}
}
.fre-account-info-tablet {
	display: none;
}
.fre-account-tablet {
	display: none;
}

//= Content
//
.fre-background {
	position: relative;
	height: 622px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top center;
}
.fre-bg-content {
	width: 100%;
	position: absolute;
	top: 50%;
	left: 0;
	transform: translateY(-60%);
	text-align: center;
	h1 {
		margin: 0;
		font-size: 48px;
		font-weight: 300;
		color: $color_text;
		text-align: center;
		line-height: 1.5em;
	}
	.fre-btn {
		margin-top: 40px;
		min-width: 190px;
		+ .fre-btn {
			margin-left: 12px;
		}
	}
}

//== How FreelanceEngine work
//
.fre-how-work {
	background: #FFF;
	padding-top: 56px;
	padding-bottom: 96px;
	color: $color_text;
	text-align: center;
	h2 {
		margin: 0;
		font-size: 38px;
		font-weight: 300;
		color: $color_text;
		line-height: 1.5em;
	}
}

.fre-work-block {
	margin-top: 50px;
	span {
		display: block;
		width: 42px;
		height: 42px;
		margin: 0 auto;
		margin-bottom: 20px;
		overflow: hidden;
		img {
			width: 100%;
			height: auto;
		}
	}
	p {
		margin: 0;
		font-size: $font_size_medium;
		font-weight: 400;
		color: $color_text;
		min-height: 2.8em;
	}
}

.fre-perfect-freelancer {
	background: $color_background;
	padding-top: 50px;
	padding-bottom: 70px;
	.container > h2 {
		margin: 0 0 17px;
		font-size: 38px;
		font-weight: 300;
		line-height: 1.5em;
		color: $color_text;
		text-align: center;
	}
}

//== perfect freelancer block

.fre-freelancer-wrap {
	position: relative;
	background: #FFF;
	border-left: 1px solid #f6f6f6;
	border-right: 1px solid #f6f6f6;
	border-bottom: 1px solid #efefef;
	-webkit-box-shadow: 0px 2px 1px 0px #efefef;
	-moz-box-shadow: 0px 2px 1px 0px #efefef;
	box-shadow: 0px 2px 1px 0px #efefef;
	border-radius: 0;
	margin-top: 30px;
	padding: 30px 30px 30px 120px;
	h2 {
		width: calc(100% - 100px);
		margin: -3px 0 0;
		font-size: $font_size_large + 2;
		line-height: 1.2em;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		a {
			font-size: $font_size_large + 2;
			font-weight: 600;
			line-height: 1em;
			color: $color_text;
			&:hover {
				color: $color_text;
			}
		}
	}
	p {
		margin: 6px 0 0;
		font-size: $font_size_base;
		font-weight: 500;
		line-height: 1.2em;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}
	.rate-it {
		margin: 10px 0 0;
		height: 16px;
	}

	.free-skill {
		min-height: 28px;
		margin-top: 16px;
		padding-top: 4px;
		border-radius: 4px;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		.fre-label {
			display: initial;
		}
	}
}

.free-avatar {
	display: block;
	position: absolute;
	top: 30px;
	left: 30px;
	width: 70px;
	height: 70px;
	img {
		width: 100%;
		border-radius: 50%;
	}
}

.free-hourly-rate {
	position: absolute;
	top: 32px;
	right: 30px;
	font-size: $font_size_base;
	color: $color_text;
	line-height: 1em;
	span {
		font-size: $font_size_large;
		font-weight: 700;
	}
}

.free-experience {
	margin-top: 14px;
	font-size: 0;
	span {
		display: inline-block;
		font-size: $font_size_base;
		color: $color_text;
		line-height: 1em;
		padding: 2px 13px 2px 0;
		&:last-child {
			padding-right: 0;
			padding-left: 13px;
			border-left: 1px solid #c3ced5;
		}
	}
}

.fre-perfect-freelancer-more {
	text-align: center;
	a {
		margin-top: 52px;
		min-width: 210px;
	}
}

.fre-jobs-online {
	background: #FFF;
	padding-top: 64px;
	padding-bottom: 80px;
	h2 {
		margin: 0;
	    font-size: 38px;
	    font-weight: 300;
	    color: $color_text;
	    line-height: 1.5em;
	    text-align: center;
	}
}

.fre-jobs-list {
	margin: 40px 0 0;
	padding: 0;
	border: 1px solid $color_border_base;
	border-radius: 2px;
	> li {
		list-style-type: none;
		display: block;
		padding: 17px 30px;
		border-bottom: 1px solid $color_border_base;
		&:last-child {
			border-bottom: none;
		}
	}
}
.jobs-title {
	display: inline-block;
	font-size: 0;
	vertical-align: middle;
	width: calc(100% - 486px);
	padding-right: 60px;
	p {
		margin: 0;
		font-size: $font_size_medium;
		color: $color_text;
		line-height: 1.2em;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}
}

.jobs-date {
	display: inline-block;
	font-size: 0;
	vertical-align: middle;
	width: 180px;
	// text-align: right;
	p {
		margin: 0;
		font-size: $font_size_medium;
		color: $color_text;
	}
}

.jobs-price {
	display: inline-block;
	font-size: 0;
	vertical-align: middle;
	width: 70px;
	p {
		margin: 0;
		font-size: $font_size_medium;
		font-weight: 600;
		color: $color_text;
	}
}

.jobs-view {
	display: inline-block;
	font-size: 0;
	vertical-align: middle;
	width: 225px;
	text-align: right;
	a {
		display: inline-block;
		padding: 8px 24px;
		font-size: $font_size_base;
		font-weight: 700;
		color: $color_text_1;
		line-height: 1em;
		border: 1px solid $color_border_base;
		border-radius: $border_radius_default;
		&:hover {
			background: $color_text_1;
			border: 1px solid $color_text_1;
			color: #FFF;
		}
	}
}

.fre-jobs-online-more {
	text-align: center;
	a {
		margin-top: 40px;
		min-width: 190px;
	}
}

.fre-our-stories {
	background: $color_background;
	padding: 48px 0 54px;
	h2 {
		margin: 0;
	    font-size: 38px;
	    font-weight: 300;
	    color: $color_text;
	    line-height: 1.5em;
	    text-align: center;
	}
}

.owl-carousel-stories {
	.owl-prev {
		width: 32px;
		height: 52px;
		position: absolute;
		top: 50%;
		left: -90px;
		transform: translateY(-50%);
		cursor: default !important;
		&.disabled {
			span {
				display: none;
			}
		}
		span {
			display: inline-block;
			position: relative;
			width: 100%;
			height: 100%;
			cursor: pointer;
			&:before {
				background:  $color_border_base;
				content: '';
				display: block;
				width: 100%;
				height: 2px;
				position: absolute;
				top: 12px;
				left: 0;
				transform: rotate(120deg);
			}
			&:after {
				background:  $color_border_base;
				content: '';
				display: block;
				width: 100%;
				height: 2px;
				position: absolute;
				bottom: 12px;
				left: 0;
				transform: rotate(60deg);
			}
		}
	}
	.owl-next {
		width: 32px;
		height: 52px;
		position: absolute;
		top: 50%;
		right: -90px;
		transform: translateY(-50%);
		cursor: default !important;
		&.disabled {
			span {
				display: none;
			}
		}
		span {
			display: inline-block;
			position: relative;
			width: 100%;
			height: 100%;
			cursor: pointer;
			&:before {
				background:  $color_border_base;
				content: '';
				display: block;
				width: 100%;
				height: 2px;
				position: absolute;
				top: 12px;
				left: 0;
				transform: rotate(60deg);
			}
			&:after {
				background:  $color_border_base;
				content: '';
				display: block;
				width: 100%;
				height: 2px;
				position: absolute;
				bottom: 12px;
				left: 0;
				transform: rotate(120deg);
			}
		}
	}
}

.fre-stories-wrap {
	margin: 54px 0 0;
	background: $color_background;
	min-height: 100px;
	&:after {
		content: '';
		display: table;
		clear: both;
	}
	.stories-img {
		float: right;
		width: 40%;
		img {
			width: 100%;
			height: auto;
		}
		+ .stories-content  {
			width: 52%;
			margin-right: 40%;
		}
	}
	.stories-content {
		position: relative;
		padding-top: 66px;
		padding-left: 50px;
		width: 100%;
		p {
			margin: 0;
			font-size: 16px;
			color: $color_text;
			line-height: 1.7em;
		}

		.fre-quote {
			position: absolute;
			top: 40px;
			left: 0;
		}

		.fre-btn-o {
			min-width: 200px;
			margin-top: 52px;
		}
	}
}

.fre-quote {
	svg {
		fill: #bac6ce;
	}
}

.fre-service {
	background: #FFF;
	padding-top: 76px;
	padding-bottom: 80px;
	.container {
		> h2 {
			margin: 0;
	    	font-size: 38px;
		    font-weight: 300;
		    color: $color_text;
		    line-height: 1.5em;
		    text-align: center;
		}
	}
}

.fre-service-package-list {
	font-size: 0;
	> div {
		float: none;
		display: inline-block;
		vertical-align: top;
	}
}

.fre-service-content {
	padding-top: 22px;
}

.fre-service-pricing {
	position: relative;
	padding: 40px;
	margin-top: 30px;
	border: 1px solid $color_border_base;
	border-top: none;
	-webkit-box-shadow: 0 0 4px 1px rgba(darken($color_border_base, 5%), 0.1);
	-moz-box-shadow: 0 0 4px 1px rgba(darken($color_border_base, 5%), 0.1);
	box-shadow: 0 0 4px 1px rgba(darken($color_border_base, 5%), 0.1);
	color: $color_text;
	text-align: center;
	&:after {
		content: '';
		display: block;
		width: calc(100% + 2px);
		height: 5px;
		background: #647585;
		position: absolute;
		top: 0;
		left: -1px;
	}
	&:hover {
		-webkit-box-shadow: 0 0 9px 2px rgba(darken($color_border_base, 5%), 0.35);
		-moz-box-shadow: 0 0 9px 2px rgba(darken($color_border_base, 5%), 0.35);
		box-shadow: 0 0 9px 2px rgba(darken($color_border_base, 5%), 0.35);
		&:after {
			background: $color_skin;
		}
		.service-price {
			h2, p {
				color: $color_skin;
				// font-weight: 400;
			}
			h2 {
				sup {
					font-weight: 400;
				}
			}
		}
		.fre-service-btn {
			border-color: $color_skin;
			color: $color_skin;
			&:hover {
				background: $color_skin;
				color: #FFF;
			}
		}
	}
	.service-price {
		display: inline-block;
		padding: 0 2px 28px 2px;
		border-bottom: 1px solid $color_border_base;
		h2 {
			margin: 0;
			font-size: 50px;
			font-weight: 300;
			line-height: 1.2em;
			sup {
				font-size: 26px;
				font-weight: 300;
				top: -0.3em;
			}
		}
		p {
			margin: 6px 0 0;
			font-size: 20px;
			line-height: 1em;
		}
	}
	.service-info {
		margin-top: 28px;
		h3 {
			margin: 0;
			font-size: 20px;
			font-weight: 600;
			line-height: 1.3em;
		}
		p {
			margin: 10px 0 0;
			font-size: $font_size_base;
			line-height: 2.2em;
		}
	}
	.fre-service-btn {
		margin: 30px 0 0;
		min-width: 150px;
	}
}

.fre-get-started {
	background: $color_background;
	+ .footer-copyright-wrapper {
		margin-top: 0;
	}
}
.get-started-content {
	position: relative;
	padding: 78px 260px 78px 0;
	h2 {
		margin: 0;
		font-size: 36px;
		font-weight: 300;
		color: $color_text;
		line-height: 1.6em;
	}
	.fre-btn {
		position: absolute;
		right: 0;
		top: 50%;
		transform: translateY(-50%);
		min-width: 170px;
	}
}

@media (min-width: 1200px) {
	.fre-hamburger {
		display: none;
	}
}

@media (max-width: 1199px) {
	.fre-wrapper {
	}
	.fre-header-wrapper {
		position: relative;
		height: 56px;
		&.active {
			// position: relative;
			.fre-header-wrap {
				// position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				z-index: 999;
			}
			.fre-search-wrap {
				display: block;
				width: 100%;
			}
			.fre-menu-top {
				display: block;
				margin: 0;
			}
			.fre-account-wrap {
				display: block;
				float: none;
				.fre-notification {
					display: none;
				}
			}

			.fre-menu-main {
				> li {
					display: block;
					padding: 8px 0 6px 0;
					margin: 0;
					&:last-child {
						// padding-bottom: 0;
						padding-bottom: 6px;
					}
					&:hover {
						&:before, &:after {
							display: none;
						}
					}
					> a {
						i {
							display: none;
						}
					}
					+ li {
						margin: 0;
					}

					.dropdown-menu {
						position: initial;
						display: block;
						float: none;
						border: none;
						box-shadow: none;
						padding-bottom: 0;
						li {
							a {
								line-height: 1.3em;
								i {
									display: none;
								}
							}
						}
						> li {
							padding: 0 0 14px 20px;
							&:last-child {
								padding-bottom: 0;
							}
						}
					}

					.sub-menu {
						> li {
							width: 100%;
							padding: 0 0 14px 20px;
							&:last-child {
								padding-bottom: 0;
							}
						}
					}
				}
			}

			.fre-account-tablet {
				display: block;
			}
			.fre-account-info-tablet {
				display: block;
			}

		}
		&.notify-active {
			.fre-notification {
				i, span {
					display: none;
				}
				&:before {
					content: '';
					display: block;
					width: 100%;
					height: 1px;
					background: #425263;
					transform: rotate(45deg);
					position: absolute;
					top: 10px;
					left: 0;
				}
				&:after {
					content: '';
					display: block;
					width: 100%;
					height: 1px;
					background: #425263;
					transform: rotate(-45deg);
					position: absolute;
					top: 10px;
					left: 0;
				}
			}
			.fre-account-wrap {
				display: block;
				width: 100%;
				.fre-notification, .fre-account {
					display: none;
				}
				.dropdown-menu-notifi {
					display: block;
					width: 100%;
					position: inherit;
					top: inherit;
					right: inherit;
					box-shadow: none;
					margin-top: 20px;
					> li {
						&:first-child {
							border-top: 1px solid $color_top_shadow_base;
							&:hover {
								border-top: 1px solid $color_skin;
							}
						}
						&:last-child {
							border: none;
						}
					}
				}
			}
		}
	}
	.fre-header-wrap {
		position: absolute;
		top: 0 !important;
	}
	.fre-site-logo {
		padding: 10px 0;
		margin:0;
		width: 100%;
		line-height: 36px;
	}
	.fre-hamburger {
		float: right;
		margin-right: -6px;
		.fre-notification {
			margin-right: 12px;
		}
	}
	.fre-search-wrap {
		display: none;
	}
	.fre-menu-top {
		display: none;
	}
	.fre-account-wrap {
		display: none;
	}

	.fre-login-wrap {
		padding: 0;
	}
	.fre-login {
		padding-top: 6px;
		padding-bottom: 26px;
		> li {
			display: block;
			height: auto;
			line-height: 1.3em;
			padding-bottom: 15px;
			&:last-child {
				padding-bottom: 0;
			}
			+ li {
				margin: 0;
			}
		}
	}

	.fre-account {
		padding: 0;
		.dropdown-menu {
			display: block;
			float: none;
			position: initial;
			border: none;
			box-shadow: none;
			margin: 0;
			padding-top: 6px;
			padding-bottom: 26px;
			> li {
				display: none;
				padding: 0;
				&:last-child {
					display: block;
				}
			}
		}
	}
	.fre-account-info {
		display: none;
	}

	.fre-account-tablet {
		padding-top: 20px;
		padding-bottom: 7px;
		.fre-account-info {
			display: block;
			cursor: default;
			max-width: inherit;
		}
	}

	.fre-account-info-tablet {
		.dropdown-menu {
			display: block;
			float: none;
			position: initial;
			border: none;
			box-shadow: none;
			margin: 0;
			// padding: 0 0 6px;
			padding: 0;
			> li {
				display: block;
				padding: 8px 0 6px 0;
				&:last-child {
					display: none;
				}
				a {
					display: inline-block;
					background: none;
					padding: 0;
					font-weight: 500;
					text-transform: uppercase;
					line-height: 1.3em;
				}
			}
		}
	}

	.fre-background {
		// height: 330px;
	}
	.fre-bg-content {
		// transform: translateY(-55%);
		h1 {
			font-size: 40px;
			// line-height: 1.6em;
		}
		.fre-btn {
			// margin-top: 26px;
		}
	}

	.fre-how-work {
		padding-bottom: 48px;
		h2 {
			font-size: 30px;
		}
	}
	.fre-work-block {
		margin-top: 40px;
		padding:0 80px;
	}
	.fre-perfect-freelancer  {
		padding-top: 40px;
		padding-bottom: 50px;
		.container > h2 {
			font-size: 30px;
		}
	}
	.fre-perfect-freelancer-more {
		a {
			margin-top: 42px;
		}
	}

	.fre-jobs-online {
		padding-top: 40px;
		padding-bottom: 50px;
		h2 {
			font-size: 30px;
		}
	}
	.fre-jobs-list {
		margin-top: 50px;
	}

	.fre-our-stories {
		padding: 40px 0 56px;
		h2 {
			font-size: 30px;
		}
	}
	.owl-carousel-stories {
		.owl-nav {
			display: none;
		}
	}

	.fre-service {
		padding-top: 40px;
		padding-bottom: 50px;
		.container > h2 {
			font-size: 30px;
		}
	}
	.fre-stories-wrap {
		margin: 40px 0 0;
		.stories-content {
			padding-top: 14px;
			.fre-quote {
				top: -14px;
			}
		}
	}
	.fre-service-content {
		padding-top: 10px;
	}
}

@media (max-width: 991px) {
	.fre-background {
		height: 330px;
	}
	.fre-bg-content {
		h1 {
			font-size: 30px;
		}
		.fre-btn {
			min-width: 170px;
			margin-top: 26px;
			+ .fre-btn {
				margin-left: 8px;
			}
		}
	}
	.fre-how-work {
		padding-top: 40px;
	}
	.fre-work-block {
		padding: 0 40px;
	}

	.fre-freelancer-wrap {
		margin-top: 14px;
	}

	.fre-jobs-list {
		> li {
			position: relative;
			padding: 10px 250px 10px 20px;
		}
	}
	.jobs-title {
		display: block;
		width: 100%;
		padding: 0;
		p {
			line-height: 2em;
		}
	}
	.jobs-price {
		display: block;
		width: 100%;
		text-align: left;
		p {
			line-height: 2em;
		}

	}
	.jobs-date {
		display: block;
		width: 100%;
		text-align: left;
		p {
			line-height: 2em;
		}
	}
	.jobs-view {
		position: absolute;
		top: 50%;
		right: 20px;
		transform: translateY(-50%);
	}
	.fre-stories-wrap {
		.stories-content {
			padding-top: 24px;
			.fre-quote {
				top: 0;
			}
			.fre-btn-o {
				margin-top: 34px;
			}
		}
	}

}

@media (max-width: 767px) {

	.fre-account-wrap {
		> .dropdown-menu {
			> li {
				a {
					&.fre-notify-wrap {
						padding-left: 0;
						font-size: $font_size_medium;
						.notify-avatar {
							display: none;
						}
					}
				}
			}
		}
	}

	.fre-header-wrapper.notify-active .fre-account-wrap .dropdown-menu-notifi {
		margin-left: -15px;
		margin-right: -15px;
		width: calc(100% + 30px);
		.fre-notify-archive {
			font-size: $font_size_medium;
		}
	}

	.fre-account-wrap>.dropdown-menu>li a.view-more-notify {
		padding: 12px 0;
	}

	.fre-background {
		height: 420px;
	}
	.fre-bg-content {
		transform: translateY(-45%);
		.container {
			padding: 0;
		}
		h1 {
			font-size: 26px;
			margin-bottom: 20px;
		}
		.fre-btn {
			margin-top: 10px;
			min-width: 248px;
			+ .fre-btn {
				margin-left: 0;
			}
		}
	}


	.fre-how-work {
		padding-top: 32	px;
		h2 {
			line-height: 1.3em;
		}
	}
	.fre-work-block {
		margin-top: 32px;
	}
	.fre-perfect-freelancer {
		padding-top: 32px;
		padding-bottom: 40px;
		.container > h2 {
			line-height: 1.3em;
			margin-bottom: 22px;
		}
	}
	.fre-freelancer-wrap {
		padding: 30px;
		text-align: center;
		h2 {
			width: 100%;
			margin: 12px 0 0;
			a {
				font-size: $font_size_large;
			}
		}
	}
	.free-avatar {
		position: inherit;
		top: inherit;
		left: inherit;
		margin: 0 auto;
	}
	.free-rating {
		i {
			font-size: $font_size_small;
		}
	}
	.free-hourly-rate {
		position: inherit;
		top: inherit;
		right: inherit;
		margin: 14px 0 0;

	}
	.free-experience {
		margin: 8px 0 0;
		span {
			display: block;
			padding: 6px 0;
			&:last-child {
				padding-left: 0;
				padding-bottom: 0;
				border: none;
			}
		}
	}
	.free-skill {
		display: none;
	}

	.fre-perfect-freelancer-more {
		a {
			min-width: 248px;
			margin-top: 30px;
		}
	}


	.fre-jobs-online {
		padding-top: 32px;
		padding-bottom: 40px;
		h2 {
			line-height: 1.3em;
		}
	}
	.fre-jobs-list {
		margin: 32px 0 0;
		> li {
			padding: 16px 20px 20px;
		}
	}
	.jobs-title {
		p {
			line-height: 1.4em;
			white-space: normal;
		}
	}
	.jobs-date {
		p {
			line-height: 2.3em;
		}
	}
	.jobs-price {
		p {
			line-height: 1.2em;
		}
	}
	.jobs-view {
		margin-top: 18px;
		position: inherit;
		top: inherit;
		right: inherit;
		transform: translateY(0);
		width: 100%;
		text-align: center;
		a {
			min-width: 248px;
			padding-top: 0;
			padding-bottom: 0;
			height: 40px;
			line-height: 38px;
		}
	}

	.fre-jobs-online-more {
		a {
			min-width: 248px;
			margin-top: 30px;
		}
	}

	.fre-our-stories {
		padding: 36px 0;
		h2 {
			line-height: 1.3em;
		}
	}

	.fre-stories-wrap {
		.stories-img {
			float: none;
			width: 100%;
			+ .stories-content {
				width: 100%;
				margin-right: 0;
				padding-top: 54px;
				.fre-quote {
					top: 20px;
				}
			}
		}
		.stories-content {
			padding-left: 0;

		}
		.fre-stories-more {
			text-align: center;
			.fre-btn-o {
				min-width: 248px;
			}
		}
	}

	.fre-quote {
		svg {
			width: 24px;
			height: auto;
		}
	}


	.fre-service {
		padding-top: 32px;
		.container > h2 {
			line-height: 1.3em;
		}
	}
	.fre-service-content {
		padding-top: 15px;
	}
	.fre-service-pricing {
		margin-top: 20px;
		padding: 26px 20px 30px;
		.service-price {
			padding-bottom: 18px;
			h2 {
				font-size: 40px;
			}
			p {
				margin-top: 2px;

			}
		}
		.service-info {
			margin-top: 15px;
			p {
				margin: 5px 0 0;
				line-height: 1.8em;
			}
		}
		.fre-service-btn {
			min-width: 248px;
			margin-top: 15px;
			height: 40px;
			line-height: 38px;
		}
	}


	.get-started-content {
		padding: 32px 0 40px 0;
		text-align: center;
		h2 {
			font-size: 28px;
			line-height: 1.3em;
		}
		.fre-btn {
			position: inherit;
			top: inherit;
			right: inherit;
			transform: translateY(0);
			margin-top: 30px;
			min-width: 248px;
		}
	}

	.fre-service-package-list {
		> div {
			display: block;
		}
	}

}