  a.btn-back {
      background: #2d3274;
      padding: 7px 15px;
      color: #fff;
      font-size: 14px;
      border-radius: 50px;
  }
  td img {
    max-height: 200px;
    max-width: 200px;
}
.showbox {
    display: none;
}
  .nicEdit-main {
    width: 100% !important;
    min-height: 200px !important;
  }


  /*color picker Start*/
    .colorpicker-alpha {display:none !important;}
    .colorpicker{ min-width:128px !important;}
    .colorpicker-color {display:none !important;}
/*color picker End*/

.gocover {
    display:none;
    position: absolute;
    position: fixed; 
    left: 0; 
    top: 0; 
    z-index: 999; 
    width: 100%; 
    height: 100%; 
    overflow: visible;
}
.modal-body p {
    color: #222;
}
span.input-group-addon {
    position: absolute;
    right: 0;
    top: 0;
    background: #ddd;
    padding: 5px;
    height: 100%;
    width: 40px;
    text-align: center;
    line-height: 33px;
}
.add-btn {
      background: #2d3274;
      padding: 7px 15px;
      color: #fff;
      font-size: 14px;
      border-radius: 50px;
}
a:not([href]) {
    /*color: #fff !important;*/
    cursor: pointer;
}

.img-upload #image-preview {
  width: 240px;
  height: 240px;
  border: 1px dashed #000;
  color: #ecf0f1;
  position: relative;
  background-repeat: no-repeat !important;
  background-position: center !important; }

  .table-contents {
    text-align: right;
  }

.slider-panel {
  margin: 20px 20px;
}
.slider-title {

}
 .product-description .panel-heading.text-center h3 {
    background-color: #1f224f;
    color: #ffffff;
    padding: 10px 0px 10px;
}

.product-description .panel.panel-default {
    border: 1px solid rgba(0, 0, 0, 0.20);
}
.no-padding {
  padding: 0px;
}
.show-table table tr:first-child th,
.show-table table tr:first-child td
{
  border-top: 0px;
}
.show-table table tr th {
  text-align: right;
}
.show-table table img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.less-width {
  width: 90%;
}
.hidden {
  display: none;
}
.ui-datepicker-title select {
  height: auto !important;
}
  .add-input-fild{
    position: relative;;
  }
  .add-input-fild .remove{
    position: absolute;
    right: 0px;
    top: 0px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.40);
    font-size: 12px;
    line-height: 20px;
    text-align: center;
    cursor: pointer;
  }

    .colorpicker-alpha {display:none !important;}
    .colorpicker{ min-width:128px !important;}
    .colorpicker-color {display:none !important;}
    .size-area {
      position: relative;
    }
    .color-area {
      position: relative;
    }     
    .feature-area {
      position: relative;
    }
    .license-area {
      position: relative;
    }
    #modal2 .highlight {
      max-width: 660px;
    }

    #modal1 .modal-body, #modal2 .modal-body {
      max-height: 685px;
    overflow: hidden;
    overflow-y: auto;
    }
    body.modal-open {
    padding-right: 0px !important;
  }
a.clear {
    color: #333 !important;
    font-size: 14px;
    font-weight: 600;
    margin: 0px !important;
    padding: 13px 2px 8px !important;
    border-bottom: 1px solid rgba(0, 0, 0, 0.20);
    display: block;
    width: 100%;
}

.header .right-eliment .list li .dropdown-menu .dropdownmenu-wrapper ul li a i {
    margin-right: 0px;
    font-size: 12px;
    color: #444;
}

  .sub-categori .modal {
    background: none !important;
    margin: 0 !important;
    padding: 0 !important;
    z-index: 999999; }
    .sub-categori .modal .modal-dialog {
      position: fixed;
      bottom: 0;
      right: 0;
      width: 600px;
      margin: 0px; }
      .sub-categori .modal .modal-dialog .modal-header {
        background: #16193a;
        }
        .sub-categori .modal .modal-dialog .modal-header .modal-title {
          color: #fff;
          font-size: 18px;
          font-weight: 600; }
        .sub-categori .modal .modal-dialog .modal-header .close span {
          color: #fff; }
    .sub-categori .modal .contact-form {
      margin-top: 12px;
      padding: 10px 10px 10px; }
      .sub-categori .modal .contact-form ul {
        padding-left: 0px;
        margin-bottom: 0px; }
        .sub-categori .modal .contact-form ul li {
          list-style: none; }
          .sub-categori .modal .contact-form ul li .input-field {
            margin-bottom: 20px;
            background: none;
            border-radius: 0px;
            border: 0px;
            border-bottom: 1px solid rgba(0, 0, 0, 0.1);
            padding: 10px 20px;
            }
            .sub-categori .modal .contact-form ul li .input-field:focus {
              border: 0px !important;
              border-bottom: 1px solid #16193a !important;
              }
            .sub-categori .modal .contact-form ul li .input-field.textarea {
              margin-bottom: 35px;
              padding: 20px;
              }
      .sub-categori .modal .contact-form .submit-btn {
        width: 100%;
        height: 50px;
        background: #16193a;
        color: #fff;
        font-size: 14px;
        line-height: 50px;
        font-weight: 600;
        text-align: center;
        
        border: 0px;
        border-radius: 5px;
        cursor: pointer;
        -webkit-transition: all 0.3s ease-in;
        -o-transition: all 0.3s ease-in;
        transition: all 0.3s ease-in;
        }
        .sub-categori .modal .contact-form .submit-btn:hover {
          background: #333333; }
  .sub-categori .modal-backdrop {
    background: none !important; }
    .pending {
      background-color: #ff9600 !important;
    }
    .completed {
      background-color: #01c004 !important;
    }
    .processing {
      background-color: #02abff !important;
    }
    .declined {
      background-color: #d9534f !important;
    }
    .on.delivery {
      background-color: #9b14dc !important;
    }

    
/*  Starting of new view details area  */
.order-table-wrap {
  background: #fff;
  padding: 30px 30px 30px; }

.order-table-wrap .mr-table {
  padding: 0px;
  margin-top: 20px;
  text-align: center; }
  .order-table-wrap .mr-table .title {
    font-weight: 600;
    font-size: 19px;
    display: inline-block;
    }

.order-table-wrap .table > tbody > tr > td,
.order-table-wrap .table > tbody > tr > th {
  border-top: none; }

.order-table-wrap .table > tbody > tr.tr-head {
  position: relative; }

.order-table-wrap .table > tbody > tr > th.order-th {
  font-size: 20px;
  padding-bottom: 10px; }

.order-table-wrap .table td,
.order-table-wrap .table th {
  padding: 0.50rem; }

.btn.sendEmail {
  background: #1f224f;
  color: #fff; }
  .btn.sendEmail:hover {
    background: #2d3274; }
/* Order Invoice Area Start */
.invoice_table .mr-table .table tr,
.order-details-table .table tr {
  text-align: left; }

/* Order Invoice Area Start */
.invoice_table .table > tfoot > tr > td {
  font-size: 15px;
  font-weight: 700; }

.invoice_table .table > tfoot > tr > td {
  border-top: none; }

.invoice_table .table > tfoot > tr:first-child > td {
  border-top: 1px solid #dddddd; }

.invoice_table .table > tfoot > tr:last-child > td {
  border-top: 1px solid rgba(0, 0, 0, 0.3); }

.invoice_table .table > tfoot > tr > td,
.invoice_table .table > tfoot > tr > th {
  text-align: right; }

.invoice__orderDetails p strong,
.invoice__shipping p strong {
  font-size: 18px;
  font-weight: 700; }

.invoice__orderDetails .title,
.invoice__shipping .title {
  font-size: 20px;
  font-weight: 600; }

.invoice__orderDetails p,
.invoice__shipping p {
  margin-bottom: 0px; }


.invoice__logo img {
  max-width: 250px; }

.add-newProduct-btn.print {
  background: #1f224f;
  color: #fff; }
  .add-newProduct-btn.print:hover {
  background: #2d3274; }
  #lines {
    padding: 0;
  }
  #lineChart {
    width: 100% !important;
    height: 400px !important;
  }
  a.add-btn:hover {
    color: #fff !important;
}
.img-upload.full-width-img #image-preview{
    width: 100%
}
.img-upload.full-width-img {
    margin-bottom: 70px;
}
.img-upload.full-width-img #image-preview label,
.img-upload.full-width-img #image-preview input
 {
    top: 100%;
    transform: auto;
    left: 0%;
    margin-top: 50px;
    right: 0;
    margin-left: 0px;
}


/* Special-box Box Area Start */

.special-box{
  box-shadow: 0px 1px 6px 0px rgba(208, 208, 208, 0.61);
}
.special-box{
  margin-bottom: 20px;
}
.special-box .table-responsive-sm{
  padding: 0px 30px 10px 30px;
}

.special-box .heading-area{
  background: #eaeaf1;
  border-bottom: 0px;
  padding: 10px 30px 10px;
}
.special-box .heading-area .title{
  font-size: 19px;
  font-weight: 600;
  padding: 0px;
}
.special-box .footer-area {
  display: flex;
  padding: 0px 30px 30px 30px;
}
.special-box .footer-area .process{
  display: inline-block;
  width: 120px;
  height: 40px;
  padding: 0px 25px;
  line-height: 40px;
  text-align: center;
  background: #2d3274;
  color: #fff;
  border: 0px;
  border-radius: 50px;
  margin-right: 20px;
}
.nice-select .list{
  background: #2d3274;
}
.special-box .footer-area .mybtn1{
  display: inline-block;
  height: 40px;
  line-height: 40px;
  text-transform: unset;
  width: 150px;
  border-radius: 50px;
  background: #2d3274;
  box-shadow: none;
}
.special-box .nice-select:after {
  border-bottom: 2px solid #fff;
  border-right: 2px solid #fff;
}
.nice-select .option.focus, .nice-select .option.selected.focus, .nice-select .option:hover {
  background-color: rgba(255, 255, 255, 0.15);
}

 .order-table-wrap .special-box .table td, 
 .order-table-wrap .special-box .table th {
  padding: 3px 0px!important;
  border: 0px;
}

  /* Special-box Box Area End */

  /* Products Order Area Start */
  .order-table-wrap .mr-table .title{
    background: #eaeaf1;
    display: block;
    width: 100%;
    padding: 10px 25px 10px;
    text-align: left;
    margin-bottom: 0px;
  }
  .order-details-table .mr-table{
  box-shadow: 0px 1px 6px 0px rgba(208, 208, 208, 0.61);
  padding-bottom: 5px;
  }
  .order-details-table .mr-table .table thead th{
    border: none;
  }

/* Products Order Area End */



/* Customar Details Area Start */
.product-description .user-image{
  display: block;
  text-align: center;
}
.product-description .user-image img{
  width: 130px;
  height: 130px;
  border-radius: 50%;
  border: 5px solid #333399;
  display: inline-block;
  box-shadow: 6px 6px 8px 0px rgba(0, 0, 0, 0.02);
}
.product-description .user-image .mybtn1{
  display: block;
  margin: 0 auto;
  margin-top: 10px;
  border-radius: 50px;
  font-weight: 600;
  background: #2d3274;
  height: 40px;
  line-height: 40px;
  width: 150px;
}
.product-description .show-table table tr th {
  text-align: left;
}
.product-description .table td,
.product-description .table th
{
  /*border: 0px;*/
  border-bottom: 1px dashed #ddd;
  padding: 6px 0px;
}
.product-description .order-details-table .table td,
.product-description .order-details-table .table th
{
  border: 0px;
  padding: 6px 15px;
}
.customar-details-area .order-table-wrap{
  padding-top: 0px;
}
.customar-details-area .product-description .body-area .row{
  margin-bottom: 0px;
}
.customar-details-area .product-description .body-area {
 padding-bottom: 0px;
}
.customar-details-area .view-details{
  background: #2d3274;
  color: #fff;
  font-size: 14px;
  line-height: 30px;
  padding: 0px 12px;
  margin: 2px 2px;
  border-radius: 50px;
  display: inline-block;
  width: 130px !important;
}
.customar-details-area .view-details i{
  font-size: 12px;
  margin-right: 5px;
}

/* Customar Details Area End */

table.dataTable.no-footer {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1)!important;
}
table.dataTable thead th, table.dataTable thead td {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1)!important;
}
.product-description .review,
.product-description .comment
{
  font-size: 18px;
  font-weight: 600;
}
.product-description .review-text,
.product-description .comment-text
{
  font-size: 14px;
}

.profile-btn {
  border-radius: 50px;
  background-color: #1f224f;
  -webkit-box-shadow: 0px 5px 10px 0px rgba(14, 35, 107, 0.3);
  box-shadow: 0px 5px 10px 0px rgba(14, 35, 107, 0.3);
  text-align: center;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  width: 120px;
  height: 30px;
  line-height: 30px;
  display: inline-block;
  -webkit-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  position: relative; }
  .profile-btn::after {
    position: absolute;
    content: " ";
    height: 100%;
    width: 10%;
    top: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.2);
    left: 50%;
    opacity: 0;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    -webkit-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in; }
  .profile-btn:hover {
    color: #fff; }
    .profile-btn:hover::after {
      width: 100%;
      opacity: 1; }
      input.input-field.color-field {
    height: 40px !important;
}
.content-area h5.card-header {
    color: #fff;
    background: #2d3274;
}

/* Other Css Start */
.card{
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.08)!important;
  border: 0px !important;
}
/*.table thead th {
  border: 0px!important;
}.table thead th {
  border: 0px!important;
}*/
.card-header {
  border-bottom: 1px solid rgba(0,0,0,.15)!important;
}
.content-area h5.card-header {
  color: #333!important;
  background: #fff!important;
  font-weight: 700!important;
  padding: 18px 23px!important;
}
.card-body{
  padding: 0px 20px 0px;
}
table.dataTable thead th, table.dataTable thead td {
  border: 0px!important;
}
.dashboard-home-table td img {
  max-height: 70px;
  max-width: 70px;
}
.dashboard-home-table td{
  vertical-align: middle;
}
.dashboard-home-table td{
  vertical-align: middle;
}
.table td, .table th{
  vertical-align: middle;
}

.my-table-responsiv .table tr:hover
{
background: rgba(0,0,0,.075);
}
/* Other Css End */



/* Circle Info Area Start */

.c-info-box-area{
  padding: 40px 30px 38px;
  -webkit-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
.c-info-box-area .c-info-box{
  width: 200px;
  height: 200px;
  margin: 0 auto;
  border-width: 20px;
  border-style: solid;
  text-align: center;
  border-radius: 50%;
}
.c-info-box-area .c-info-box p{
  font-size: 30px;
  font-weight: 600;
  line-height: 160px;
}
.c-info-box-area .c-info-box.box1{
  border-color: #FFBF36;
}
.c-info-box-area .c-info-box.box2{
  border-color: #00BCD1;
}
.c-info-box-area .c-info-box.box3{
  border-color: #521FB7;
}

.c-info-box-area .c-info-box.box4{
  border-color: #129021;
}

.c-info-box-area .c-info-box-content{
  text-align: center;
  margin-top: 20px;
}
.c-info-box-area .c-info-box-content .title{
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 2px;
}
.c-info-box-area .c-info-box-content .text{
  font-size: 14px;
  margin-bottom: 0px;
}

.c-info-box-area:hover{
  transform: translateY(-7px);
}
.admin-fix-height-card {
    height: 400px;
}
/* Circle Info Area End */


.version-name {
    color: #6f6f6f;
    padding-left: 85px;
    font-size: 13px;
}

.csv-icon i{
  font-size: 70px;
  margin-right: 60px;
  margin-bottom: 30px;
  color: #999;
}

.add_lan_tab .nav{
    background-color: #eaeaf1;
    padding: 15px;
    border-radius: 10px;
}

.add_lan_tab .nav-tabs {
    border-bottom: none !important;
}


.add_lan_tab .nav-tabs .nav-link {
    display: block;
    border: none;
    margin: 4px;
    border-radius: 100px;
    -webkit-transition: all .3s ;
    transition: all .3s ;
}
.add_lan_tab .nav-tabs .nav-link.active,
.add_lan_tab .nav-tabs .nav-link:hover
 {
    color: #fff;
    background-color: #2d3274;
    border: none;
}

.lang-area {
  position: relative; }
  .lang-area .remove {
    position: absolute;
    top: 9px;
    right: -10px;
    background: #f00;
    width: 20px;
    height: 20px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    font-size: 12px;
    color: #fff;
    border-radius: 50%;
    line-height: 20px;
    text-align: center;
    -webkit-box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    z-index: 9;
    }
.track-edit {
  text-align: center;
}
.track-delete {
  text-align: center;
  width: 60px !important;
}

/* godropdown css Strat */
.godropdown {
  position: relative;
  display: inline-block;
}
.godropdown .go-dropdown-toggle{
  background: #0b4f93;
  border: 0px;
  color: #fff;
  padding: 5px 20px;
  font-size: 14px;
  border-radius: 50px;
  cursor: pointer;
}
.godropdown .go-dropdown-toggle i{
  font-size: 11px;
  margin-left: 4px;
}
.godropdown .action-list{
  position:absolute;
  top: 100%;
  right: 0px;
  left: auto;
  background: #fff;
  z-index: 99;
  display: none;
  min-width: 180px;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.08);
}
.godropdown .action-list a{
  display: block;
  background: none;
  border-radius: 0px;
  color: #333!important;
-webkit-transition: all 0.3s;
-o-transition: all 0.3s;
transition: all 0.3s;
}

.godropdown .action-list a:focus{
  outline: 0px;
}
.godropdown .action-list a:hover{
  background: #2d3274;
  color: #fff!important;
}
/* godropdown css End */

/* Nice-select plugin */
.nice-select{-webkit-tap-highlight-color:transparent;background-color:#fff;border-radius:5px;border:1px solid #e8e8e8;box-sizing:border-box;clear:both;cursor:pointer;display:block;float:left;font-family:inherit;font-size:14px;font-weight:400;height:42px;line-height:40px;outline:0;padding-left:18px;padding-right:30px;position:relative;text-align:left!important;-webkit-transition:all .2s ease-in-out;transition:all .2s ease-in-out;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;white-space:nowrap;width:auto}.nice-select:hover{border-color:#dbdbdb}.nice-select.open,.nice-select:active,.nice-select:focus{border-color:#999}.nice-select:after{border-bottom:2px solid #999;border-right:2px solid #999;content:'';display:block;height:5px;margin-top:-4px;pointer-events:none;position:absolute;right:12px;top:50%;-webkit-transform-origin:66% 66%;-ms-transform-origin:66% 66%;transform-origin:66% 66%;-webkit-transform:rotate(45deg);-ms-transform:rotate(45deg);transform:rotate(45deg);-webkit-transition:all .15s ease-in-out;transition:all .15s ease-in-out;width:5px}.nice-select.open:after{-webkit-transform:rotate(-135deg);-ms-transform:rotate(-135deg);transform:rotate(-135deg)}.nice-select.open .list{opacity:1;pointer-events:auto;-webkit-transform:scale(1) translateY(0);-ms-transform:scale(1) translateY(0);transform:scale(1) translateY(0)}.nice-select.disabled{border-color:#ededed;color:#999;pointer-events:none}.nice-select.disabled:after{border-color:#ccc}.nice-select.wide{width:100%}.nice-select.wide .list{left:0!important;right:0!important}.nice-select.right{float:right}.nice-select.right .list{left:auto;right:0}.nice-select.small{font-size:12px;height:36px;line-height:34px}.nice-select.small:after{height:4px;width:4px}.nice-select.small .option{line-height:34px;min-height:34px}.nice-select .list{background-color:#fff;border-radius:5px;box-shadow:0 0 0 1px rgba(68,68,68,.11);box-sizing:border-box;margin-top:4px;opacity:0;overflow:hidden;padding:0;pointer-events:none;position:absolute;top:100%;left:0;-webkit-transform-origin:50% 0;-ms-transform-origin:50% 0;transform-origin:50% 0;-webkit-transform:scale(.75) translateY(-21px);-ms-transform:scale(.75) translateY(-21px);transform:scale(.75) translateY(-21px);-webkit-transition:all .2s cubic-bezier(.5,0,0,1.25),opacity .15s ease-out;transition:all .2s cubic-bezier(.5,0,0,1.25),opacity .15s ease-out;z-index:9}.nice-select .list:hover .option:not(:hover){background-color:transparent!important}.nice-select .option{cursor:pointer;font-weight:400;line-height:40px;list-style:none;min-height:40px;outline:0;padding-left:18px;padding-right:29px;text-align:left;-webkit-transition:all .2s;transition:all .2s}.nice-select .option.focus,.nice-select .option.selected.focus,.nice-select .option:hover{background-color:#f6f6f6}.nice-select .option.selected{font-weight:700}.nice-select .option.disabled{background-color:transparent;color:#999;cursor:default}.no-csspointerevents .nice-select .list{display:none}.no-csspointerevents .nice-select.open .list{display:block}


/*
 * This combined file was created by the DataTables downloader builder:
 *   https://datatables.net/download
 *
 * To rebuild or modify this file with the latest versions of the included
 * software please visit:
 *   https://datatables.net/download/#bs4/dt-1.10.18/r-2.2.2
 *
 * Included libraries:
 *   DataTables 1.10.18, Responsive 2.2.2
 */

 table.dataTable{clear:both;margin-top:6px !important;margin-bottom:6px !important;max-width:none !important;border-collapse:separate !important;border-spacing:0}table.dataTable td,table.dataTable th{-webkit-box-sizing:content-box;box-sizing:content-box}table.dataTable td.dataTables_empty,table.dataTable th.dataTables_empty{text-align:center}table.dataTable.nowrap th,table.dataTable.nowrap td{white-space:nowrap}div.dataTables_wrapper div.dataTables_length label{font-weight:normal;text-align:left;white-space:nowrap}div.dataTables_wrapper div.dataTables_length select{width:auto;display:inline-block}div.dataTables_wrapper div.dataTables_filter{text-align:right}div.dataTables_wrapper div.dataTables_filter label{font-weight:normal;white-space:nowrap;text-align:left}div.dataTables_wrapper div.dataTables_filter input{margin-left:0.5em;display:inline-block;width:auto}div.dataTables_wrapper div.dataTables_info{padding-top:0.85em;white-space:nowrap}div.dataTables_wrapper div.dataTables_paginate{margin:0;white-space:nowrap;text-align:right}div.dataTables_wrapper div.dataTables_paginate ul.pagination{margin:2px 0;white-space:nowrap;justify-content:flex-end}div.dataTables_wrapper div.dataTables_processing{position:absolute;top:50%;left:50%;width:200px;margin-left:-100px;margin-top:-26px;text-align:center;padding:1em 0}table.dataTable thead>tr>th.sorting_asc,table.dataTable thead>tr>th.sorting_desc,table.dataTable thead>tr>th.sorting,table.dataTable thead>tr>td.sorting_asc,table.dataTable thead>tr>td.sorting_desc,table.dataTable thead>tr>td.sorting{padding-right:30px}table.dataTable thead>tr>th:active,table.dataTable thead>tr>td:active{outline:none}table.dataTable thead .sorting,table.dataTable thead .sorting_asc,table.dataTable thead .sorting_desc,table.dataTable thead .sorting_asc_disabled,table.dataTable thead .sorting_desc_disabled{cursor:pointer;position:relative}table.dataTable thead .sorting:before,table.dataTable thead .sorting:after,table.dataTable thead .sorting_asc:before,table.dataTable thead .sorting_asc:after,table.dataTable thead .sorting_desc:before,table.dataTable thead .sorting_desc:after,table.dataTable thead .sorting_asc_disabled:before,table.dataTable thead .sorting_asc_disabled:after,table.dataTable thead .sorting_desc_disabled:before,table.dataTable thead .sorting_desc_disabled:after{position:absolute;bottom:0.9em;display:block;opacity:0.3}table.dataTable thead .sorting:before,table.dataTable thead .sorting_asc:before,table.dataTable thead .sorting_desc:before,table.dataTable thead .sorting_asc_disabled:before,table.dataTable thead .sorting_desc_disabled:before{right:1em;content:"\2191"}table.dataTable thead .sorting:after,table.dataTable thead .sorting_asc:after,table.dataTable thead .sorting_desc:after,table.dataTable thead .sorting_asc_disabled:after,table.dataTable thead .sorting_desc_disabled:after{right:0.5em;content:"\2193"}table.dataTable thead .sorting_asc:before,table.dataTable thead .sorting_desc:after{opacity:1}table.dataTable thead .sorting_asc_disabled:before,table.dataTable thead .sorting_desc_disabled:after{opacity:0}div.dataTables_scrollHead table.dataTable{margin-bottom:0 !important}div.dataTables_scrollBody table{border-top:none;margin-top:0 !important;margin-bottom:0 !important}div.dataTables_scrollBody table thead .sorting:before,div.dataTables_scrollBody table thead .sorting_asc:before,div.dataTables_scrollBody table thead .sorting_desc:before,div.dataTables_scrollBody table thead .sorting:after,div.dataTables_scrollBody table thead .sorting_asc:after,div.dataTables_scrollBody table thead .sorting_desc:after{display:none}div.dataTables_scrollBody table tbody tr:first-child th,div.dataTables_scrollBody table tbody tr:first-child td{border-top:none}div.dataTables_scrollFoot>.dataTables_scrollFootInner{box-sizing:content-box}div.dataTables_scrollFoot>.dataTables_scrollFootInner>table{margin-top:0 !important;border-top:none}@media screen and (max-width: 767px){div.dataTables_wrapper div.dataTables_length,div.dataTables_wrapper div.dataTables_filter,div.dataTables_wrapper div.dataTables_info,div.dataTables_wrapper div.dataTables_paginate{text-align:center}}table.dataTable.table-sm>thead>tr>th{padding-right:20px}table.dataTable.table-sm .sorting:before,table.dataTable.table-sm .sorting_asc:before,table.dataTable.table-sm .sorting_desc:before{top:5px;right:0.85em}table.dataTable.table-sm .sorting:after,table.dataTable.table-sm .sorting_asc:after,table.dataTable.table-sm .sorting_desc:after{top:5px}table.table-bordered.dataTable th,table.table-bordered.dataTable td{border-left-width:0}table.table-bordered.dataTable th:last-child,table.table-bordered.dataTable th:last-child,table.table-bordered.dataTable td:last-child,table.table-bordered.dataTable td:last-child{border-right-width:0}table.table-bordered.dataTable tbody th,table.table-bordered.dataTable tbody td{border-bottom-width:0}div.dataTables_scrollHead table.table-bordered{border-bottom-width:0}div.table-responsive>div.dataTables_wrapper>div.row{margin:0}div.table-responsive>div.dataTables_wrapper>div.row>div[class^="col-"]:first-child{padding-left:0}div.table-responsive>div.dataTables_wrapper>div.row>div[class^="col-"]:last-child{padding-right:0}


 table.dataTable.dtr-inline.collapsed>tbody>tr>td.child,table.dataTable.dtr-inline.collapsed>tbody>tr>th.child,table.dataTable.dtr-inline.collapsed>tbody>tr>td.dataTables_empty{cursor:default !important}table.dataTable.dtr-inline.collapsed>tbody>tr>td.child:before,table.dataTable.dtr-inline.collapsed>tbody>tr>th.child:before,table.dataTable.dtr-inline.collapsed>tbody>tr>td.dataTables_empty:before{display:none !important}table.dataTable.dtr-inline.collapsed>tbody>tr[role="row"]>td:first-child,table.dataTable.dtr-inline.collapsed>tbody>tr[role="row"]>th:first-child{position:relative;padding-left:30px;cursor:pointer}table.dataTable.dtr-inline.collapsed>tbody>tr[role="row"]>td:first-child:before,table.dataTable.dtr-inline.collapsed>tbody>tr[role="row"]>th:first-child:before{top:12px;left:4px;height:14px;width:14px;display:block;position:absolute;color:white;border:2px solid white;border-radius:14px;box-shadow:0 0 3px #444;box-sizing:content-box;text-align:center;text-indent:0 !important;font-family:'Courier New', Courier, monospace;line-height:14px;content:'+';background-color:#0275d8}table.dataTable.dtr-inline.collapsed>tbody>tr.parent>td:first-child:before,table.dataTable.dtr-inline.collapsed>tbody>tr.parent>th:first-child:before{content:'-';background-color:#d33333}table.dataTable.dtr-inline.collapsed.compact>tbody>tr>td:first-child,table.dataTable.dtr-inline.collapsed.compact>tbody>tr>th:first-child{padding-left:27px}table.dataTable.dtr-inline.collapsed.compact>tbody>tr>td:first-child:before,table.dataTable.dtr-inline.collapsed.compact>tbody>tr>th:first-child:before{top:5px;left:4px;height:14px;width:14px;border-radius:14px;line-height:14px;text-indent:3px}table.dataTable.dtr-column>tbody>tr>td.control,table.dataTable.dtr-column>tbody>tr>th.control{position:relative;cursor:pointer}table.dataTable.dtr-column>tbody>tr>td.control:before,table.dataTable.dtr-column>tbody>tr>th.control:before{top:50%;left:50%;height:16px;width:16px;margin-top:-10px;margin-left:-10px;display:block;position:absolute;color:white;border:2px solid white;border-radius:14px;box-shadow:0 0 3px #444;box-sizing:content-box;text-align:center;text-indent:0 !important;font-family:'Courier New', Courier, monospace;line-height:14px;content:'+';background-color:#0275d8}table.dataTable.dtr-column>tbody>tr.parent td.control:before,table.dataTable.dtr-column>tbody>tr.parent th.control:before{content:'-';background-color:#d33333}table.dataTable>tbody>tr.child{padding:0.5em 1em}table.dataTable>tbody>tr.child:hover{background:transparent !important}table.dataTable>tbody>tr.child ul.dtr-details{display:inline-block;list-style-type:none;margin:0;padding:0}table.dataTable>tbody>tr.child ul.dtr-details>li{border-bottom:1px solid #efefef;padding:0.5em 0}table.dataTable>tbody>tr.child ul.dtr-details>li:first-child{padding-top:0}table.dataTable>tbody>tr.child ul.dtr-details>li:last-child{border-bottom:none}table.dataTable>tbody>tr.child span.dtr-title{display:inline-block;min-width:75px;font-weight:bold}div.dtr-modal{position:fixed;box-sizing:border-box;top:0;left:0;height:100%;width:100%;z-index:100;padding:10em 1em}div.dtr-modal div.dtr-modal-display{position:absolute;top:0;left:0;bottom:0;right:0;width:50%;height:50%;overflow:auto;margin:auto;z-index:102;overflow:auto;background-color:#f5f5f7;border:1px solid black;border-radius:0.5em;box-shadow:0 12px 30px rgba(0,0,0,0.6)}div.dtr-modal div.dtr-modal-content{position:relative;padding:1em}div.dtr-modal div.dtr-modal-close{position:absolute;top:6px;right:6px;width:22px;height:22px;border:1px solid #eaeaea;background-color:#f9f9f9;text-align:center;border-radius:3px;cursor:pointer;z-index:12}div.dtr-modal div.dtr-modal-close:hover{background-color:#eaeaea}div.dtr-modal div.dtr-modal-background{position:fixed;top:0;left:0;right:0;bottom:0;z-index:101;background:rgba(0,0,0,0.6)}@media screen and (max-width: 767px){div.dtr-modal div.dtr-modal-display{width:95%}}div.dtr-bs-modal table.table tr:first-child td{border-top:none}
 
 


table.dataTable{width:100%;margin:0 auto;clear:both;border-collapse:separate;border-spacing:0}table.dataTable thead th,table.dataTable tfoot th{font-weight:bold}table.dataTable thead th,table.dataTable thead td{padding:10px 18px;border-bottom:1px solid #111}table.dataTable thead th:active,table.dataTable thead td:active{outline:none}table.dataTable tfoot th,table.dataTable tfoot td{padding:10px 18px 6px 18px;border-top:1px solid #111}table.dataTable thead .sorting,table.dataTable thead .sorting_asc,table.dataTable thead .sorting_desc,table.dataTable thead .sorting_asc_disabled,table.dataTable thead .sorting_desc_disabled{cursor:pointer;*cursor:hand;background-repeat:no-repeat;background-position:center right}table.dataTable thead .sorting{background-image:url("../images/sort_both.png")}table.dataTable thead .sorting_asc{background-image:url("../images/sort_asc.png")}table.dataTable thead .sorting_desc{background-image:url("../images/sort_desc.png")}table.dataTable thead .sorting_asc_disabled{background-image:url("../images/sort_asc_disabled.png")}table.dataTable thead .sorting_desc_disabled{background-image:url("../images/sort_desc_disabled.png")}table.dataTable tbody tr{background-color:#ffffff}table.dataTable tbody tr.selected{background-color:#B0BED9}table.dataTable tbody th,table.dataTable tbody td{padding:8px 10px}table.dataTable.row-border tbody th,table.dataTable.row-border tbody td,table.dataTable.display tbody th,table.dataTable.display tbody td{border-top:1px solid #ddd}table.dataTable.row-border tbody tr:first-child th,table.dataTable.row-border tbody tr:first-child td,table.dataTable.display tbody tr:first-child th,table.dataTable.display tbody tr:first-child td{border-top:none}table.dataTable.cell-border tbody th,table.dataTable.cell-border tbody td{border-top:1px solid #ddd;border-right:1px solid #ddd}table.dataTable.cell-border tbody tr th:first-child,table.dataTable.cell-border tbody tr td:first-child{border-left:1px solid #ddd}table.dataTable.cell-border tbody tr:first-child th,table.dataTable.cell-border tbody tr:first-child td{border-top:none}table.dataTable.stripe tbody tr.odd,table.dataTable.display tbody tr.odd{background-color:#f9f9f9}table.dataTable.stripe tbody tr.odd.selected,table.dataTable.display tbody tr.odd.selected{background-color:#acbad4}table.dataTable.hover tbody tr:hover,table.dataTable.display tbody tr:hover{background-color:#f6f6f6}table.dataTable.hover tbody tr:hover.selected,table.dataTable.display tbody tr:hover.selected{background-color:#aab7d1}table.dataTable.order-column tbody tr>.sorting_1,table.dataTable.order-column tbody tr>.sorting_2,table.dataTable.order-column tbody tr>.sorting_3,table.dataTable.display tbody tr>.sorting_1,table.dataTable.display tbody tr>.sorting_2,table.dataTable.display tbody tr>.sorting_3{background-color:#fafafa}table.dataTable.order-column tbody tr.selected>.sorting_1,table.dataTable.order-column tbody tr.selected>.sorting_2,table.dataTable.order-column tbody tr.selected>.sorting_3,table.dataTable.display tbody tr.selected>.sorting_1,table.dataTable.display tbody tr.selected>.sorting_2,table.dataTable.display tbody tr.selected>.sorting_3{background-color:#acbad5}table.dataTable.display tbody tr.odd>.sorting_1,table.dataTable.order-column.stripe tbody tr.odd>.sorting_1{background-color:#f1f1f1}table.dataTable.display tbody tr.odd>.sorting_2,table.dataTable.order-column.stripe tbody tr.odd>.sorting_2{background-color:#f3f3f3}table.dataTable.display tbody tr.odd>.sorting_3,table.dataTable.order-column.stripe tbody tr.odd>.sorting_3{background-color:whitesmoke}table.dataTable.display tbody tr.odd.selected>.sorting_1,table.dataTable.order-column.stripe tbody tr.odd.selected>.sorting_1{background-color:#a6b4cd}table.dataTable.display tbody tr.odd.selected>.sorting_2,table.dataTable.order-column.stripe tbody tr.odd.selected>.sorting_2{background-color:#a8b5cf}table.dataTable.display tbody tr.odd.selected>.sorting_3,table.dataTable.order-column.stripe tbody tr.odd.selected>.sorting_3{background-color:#a9b7d1}table.dataTable.display tbody tr.even>.sorting_1,table.dataTable.order-column.stripe tbody tr.even>.sorting_1{background-color:#fafafa}table.dataTable.display tbody tr.even>.sorting_2,table.dataTable.order-column.stripe tbody tr.even>.sorting_2{background-color:#fcfcfc}table.dataTable.display tbody tr.even>.sorting_3,table.dataTable.order-column.stripe tbody tr.even>.sorting_3{background-color:#fefefe}table.dataTable.display tbody tr.even.selected>.sorting_1,table.dataTable.order-column.stripe tbody tr.even.selected>.sorting_1{background-color:#acbad5}table.dataTable.display tbody tr.even.selected>.sorting_2,table.dataTable.order-column.stripe tbody tr.even.selected>.sorting_2{background-color:#aebcd6}table.dataTable.display tbody tr.even.selected>.sorting_3,table.dataTable.order-column.stripe tbody tr.even.selected>.sorting_3{background-color:#afbdd8}table.dataTable.display tbody tr:hover>.sorting_1,table.dataTable.order-column.hover tbody tr:hover>.sorting_1{background-color:#eaeaea}table.dataTable.display tbody tr:hover>.sorting_2,table.dataTable.order-column.hover tbody tr:hover>.sorting_2{background-color:#ececec}table.dataTable.display tbody tr:hover>.sorting_3,table.dataTable.order-column.hover tbody tr:hover>.sorting_3{background-color:#efefef}table.dataTable.display tbody tr:hover.selected>.sorting_1,table.dataTable.order-column.hover tbody tr:hover.selected>.sorting_1{background-color:#a2aec7}table.dataTable.display tbody tr:hover.selected>.sorting_2,table.dataTable.order-column.hover tbody tr:hover.selected>.sorting_2{background-color:#a3b0c9}table.dataTable.display tbody tr:hover.selected>.sorting_3,table.dataTable.order-column.hover tbody tr:hover.selected>.sorting_3{background-color:#a5b2cb}table.dataTable.no-footer{border-bottom:1px solid #111}table.dataTable.nowrap th,table.dataTable.nowrap td{white-space:nowrap}table.dataTable.compact thead th,table.dataTable.compact thead td{padding:4px 17px 4px 4px}table.dataTable.compact tfoot th,table.dataTable.compact tfoot td{padding:4px}table.dataTable.compact tbody th,table.dataTable.compact tbody td{padding:4px}table.dataTable th.dt-left,table.dataTable td.dt-left{text-align:left}table.dataTable th.dt-center,table.dataTable td.dt-center,table.dataTable td.dataTables_empty{text-align:center}table.dataTable th.dt-right,table.dataTable td.dt-right{text-align:right}table.dataTable th.dt-justify,table.dataTable td.dt-justify{text-align:justify}table.dataTable th.dt-nowrap,table.dataTable td.dt-nowrap{white-space:nowrap}table.dataTable thead th.dt-head-left,table.dataTable thead td.dt-head-left,table.dataTable tfoot th.dt-head-left,table.dataTable tfoot td.dt-head-left{text-align:left}table.dataTable thead th.dt-head-center,table.dataTable thead td.dt-head-center,table.dataTable tfoot th.dt-head-center,table.dataTable tfoot td.dt-head-center{text-align:center}table.dataTable thead th.dt-head-right,table.dataTable thead td.dt-head-right,table.dataTable tfoot th.dt-head-right,table.dataTable tfoot td.dt-head-right{text-align:right}table.dataTable thead th.dt-head-justify,table.dataTable thead td.dt-head-justify,table.dataTable tfoot th.dt-head-justify,table.dataTable tfoot td.dt-head-justify{text-align:justify}table.dataTable thead th.dt-head-nowrap,table.dataTable thead td.dt-head-nowrap,table.dataTable tfoot th.dt-head-nowrap,table.dataTable tfoot td.dt-head-nowrap{white-space:nowrap}table.dataTable tbody th.dt-body-left,table.dataTable tbody td.dt-body-left{text-align:left}table.dataTable tbody th.dt-body-center,table.dataTable tbody td.dt-body-center{text-align:center}table.dataTable tbody th.dt-body-right,table.dataTable tbody td.dt-body-right{text-align:right}table.dataTable tbody th.dt-body-justify,table.dataTable tbody td.dt-body-justify{text-align:justify}table.dataTable tbody th.dt-body-nowrap,table.dataTable tbody td.dt-body-nowrap{white-space:nowrap}table.dataTable,table.dataTable th,table.dataTable td{box-sizing:content-box}.dataTables_wrapper{position:relative;clear:both;*zoom:1;zoom:1}.dataTables_wrapper .dataTables_length{float:left}.dataTables_wrapper .dataTables_filter{float:right;text-align:right}.dataTables_wrapper .dataTables_filter input{margin-left:0.5em}.dataTables_wrapper .dataTables_info{clear:both;float:left;padding-top:0.755em}.dataTables_wrapper .dataTables_paginate{float:right;text-align:right;padding-top:0.25em}.dataTables_wrapper .dataTables_paginate .paginate_button{box-sizing:border-box;display:inline-block;min-width:1.5em;/*padding:0.5em 1em;*/margin-left:-1px;text-align:center;text-decoration:none !important;cursor:pointer;*cursor:hand;color:#333 !important;border:1px solid transparent;border-radius:2px}.dataTables_wrapper .dataTables_paginate .paginate_button.current,.dataTables_wrapper .dataTables_paginate .paginate_button.current:hover{color:#333 !important;border:1px solid #979797;background-color:white;background:-webkit-gradient(linear, left top, left bottom, color-stop(0%, #fff), color-stop(100%, #dcdcdc));background:-webkit-linear-gradient(top, #fff 0%, #dcdcdc 100%);background:-moz-linear-gradient(top, #fff 0%, #dcdcdc 100%);background:-ms-linear-gradient(top, #fff 0%, #dcdcdc 100%);background:-o-linear-gradient(top, #fff 0%, #dcdcdc 100%);background:linear-gradient(to bottom, #fff 0%, #dcdcdc 100%)}.dataTables_wrapper .dataTables_paginate .paginate_button.disabled,.dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover,.dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active{cursor:default;color:#666 !important;border:1px solid transparent;background:transparent;box-shadow:none}/*.dataTables_wrapper .dataTables_paginate .paginate_button:hover{color:white !important;border:1px solid #111;background-color:#585858;background:-webkit-gradient(linear, left top, left bottom, color-stop(0%, #585858), color-stop(100%, #111));background:-webkit-linear-gradient(top, #585858 0%, #111 100%);background:-moz-linear-gradient(top, #585858 0%, #111 100%);background:-ms-linear-gradient(top, #585858 0%, #111 100%);background:-o-linear-gradient(top, #585858 0%, #111 100%);background:linear-gradient(to bottom, #585858 0%, #111 100%)}*/.dataTables_wrapper .dataTables_paginate .paginate_button:active{outline:none;background-color:#2b2b2b;background:-webkit-gradient(linear, left top, left bottom, color-stop(0%, #2b2b2b), color-stop(100%, #0c0c0c));background:-webkit-linear-gradient(top, #2b2b2b 0%, #0c0c0c 100%);background:-moz-linear-gradient(top, #2b2b2b 0%, #0c0c0c 100%);background:-ms-linear-gradient(top, #2b2b2b 0%, #0c0c0c 100%);background:-o-linear-gradient(top, #2b2b2b 0%, #0c0c0c 100%);background:linear-gradient(to bottom, #2b2b2b 0%, #0c0c0c 100%);box-shadow:inset 0 0 3px #111}.dataTables_wrapper .dataTables_paginate .ellipsis{padding:0 1em}.dataTables_wrapper .dataTables_processing{position:absolute;top:50%;left:50%;width:100%;height:40px;margin-left:-50%;margin-top:-25px;padding-top:20px;text-align:center;font-size:1.2em;background-color:white;background:-webkit-gradient(linear, left top, right top, color-stop(0%, rgba(255,255,255,0)), color-stop(25%, rgba(255,255,255,0.9)), color-stop(75%, rgba(255,255,255,0.9)), color-stop(100%, rgba(255,255,255,0)));background:-webkit-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,0.9) 25%, rgba(255,255,255,0.9) 75%, rgba(255,255,255,0) 100%);background:-moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,0.9) 25%, rgba(255,255,255,0.9) 75%, rgba(255,255,255,0) 100%);background:-ms-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,0.9) 25%, rgba(255,255,255,0.9) 75%, rgba(255,255,255,0) 100%);background:-o-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,0.9) 25%, rgba(255,255,255,0.9) 75%, rgba(255,255,255,0) 100%);background:linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,0.9) 25%, rgba(255,255,255,0.9) 75%, rgba(255,255,255,0) 100%)}.dataTables_wrapper .dataTables_length,.dataTables_wrapper .dataTables_filter,.dataTables_wrapper .dataTables_info,.dataTables_wrapper .dataTables_processing,.dataTables_wrapper .dataTables_paginate{color:#333}.dataTables_wrapper .dataTables_scroll{clear:both}.dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody{*margin-top:-1px;-webkit-overflow-scrolling:touch}.dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody>table>thead>tr>th,.dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody>table>thead>tr>td,.dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody>table>tbody>tr>th,.dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody>table>tbody>tr>td{vertical-align:middle}.dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody>table>thead>tr>th>div.dataTables_sizing,.dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody>table>thead>tr>td>div.dataTables_sizing,.dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody>table>tbody>tr>th>div.dataTables_sizing,.dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody>table>tbody>tr>td>div.dataTables_sizing{height:0;overflow:hidden;margin:0 !important;padding:0 !important}.dataTables_wrapper.no-footer .dataTables_scrollBody{border-bottom:1px solid #111}.dataTables_wrapper.no-footer div.dataTables_scrollHead table.dataTable,.dataTables_wrapper.no-footer div.dataTables_scrollBody>table{border-bottom:none}.dataTables_wrapper:after{visibility:hidden;display:block;content:"";clear:both;height:0}@media screen and (max-width: 767px){.dataTables_wrapper .dataTables_info,.dataTables_wrapper .dataTables_paginate{float:none;text-align:center}.dataTables_wrapper .dataTables_paginate{margin-top:0.5em}}@media screen and (max-width: 640px){.dataTables_wrapper .dataTables_length,.dataTables_wrapper .dataTables_filter{float:none;text-align:center}.dataTables_wrapper .dataTables_filter{margin-top:0.5em}}

