*/
/*-----------------
    @Typography
-----------------*/
@import url("href="https://fonts.googleapis.com/css?family=Montserrat:400,600,700&display=swap);

@font-face {
    font-family: 'Gotham Rounded';
    src: url('fonts/GothamRounded-Light.woff2') format('woff2'),
        url('fonts/GothamRounded-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham Rounded';
    src: url('fonts/GothamRounded-Bold.woff2') format('woff2'),
        url('fonts/GothamRounded-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham Rounded Book';
    src: url('fonts/GothamRounded-Book.woff2') format('woff2'),
        url('fonts/GothamRounded-Book.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham Rounded';
    src: url('fonts/GothamRounded-Medium.woff2') format('woff2'),
        url('fonts/GothamRounded-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('fonts/Material Icons'),
       local('fonts/MaterialIcons-Regular'),
       url(fonts/MaterialIcons-Regular.woff2) format('woff2'),
       url(fonts/MaterialIcons-Regular.woff) format('woff'),
       url(fonts/MaterialIcons-Regular.ttf) format('truetype');
}


/*====================
** Normalize
====================*/
html {
  font-family: "Gotham Rounded", sans-serif !important;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  overflow-x: hidden; 
}

body {
  font-family: "Gotham Rounded", sans-serif !important;
  font-size: 16px;
  font-weight: normal;
  margin: 0px !important;
  padding: 0px !important;
  color: #333333;
  overflow-x: hidden;
  line-height: normal;
}