/******* Home page start*****/

@media (max-width: 1440px){
	.ourMain-product-section .product-sec-title h2.title-head{
		font-size: 45px;
	}
	.overview-left-wrap h2, .overview-right-wrap h2{
		font-size: 28px;
	}
	.product-service-content h4 {
	    font-size: 17px;
	    min-height: 40px;
	}
	.product-service-content {
    	padding: 20px 16px 19px;
	}
	.product-service-icon img {
    	width: 65px;
	}
	.getInTouch-section .ourMain-product-des p {
    	margin-bottom: 25px;
	}
	.benefits-section .benefits-item p {
	    font-size: 14px;
	}
	.testimonial-content.quote h2{
		font-size: 30px;
	}
	.testimonial-content.quote h2 i {
	    margin-right: 12px;
	    font-size: 34px;
	}
	.testimonial-slider .owl-nav{
		right: 0;
	}
	.globar-client-section .globar-part-logo img {
    	width: 130px;
	}
}

@media (max-width: 1366px){
	.ourMain-product-section .product-sec-title h2.title-head {
    	font-size: 33px;
	    margin-bottom: 25px;
	}
	.ourMain-product-des p{
		font-size: 16px;		
	}
	.whyUs-section .ourMain-product-des p{
		margin-bottom: 0;
	}
	.ourMain-product-section {
    	padding: 80px 0 45px;
	}
	.find-product-service-section {
    	padding: 60px 0 0px;
	}
	.benefits-section{
		padding: 65px 0;
	}
	.whyUs-section, .testimonial-slider{
		padding: 80px 0;
	}
	.globar-client-section{
		padding: 45px 0 80px;
	}

}


@media (max-width: 991px){
	a.freeConsulting-btn {
    	width: initial;
    	font-size: 13px;
    	padding: 8.5px 12px;
	}
	.homeBanner-shape {
	    border-bottom: 120px solid #ffffff;
	}
	.overview-right-wrap{
		margin: 60px 0 0 0;
	}
	.overview-left-wrap h2, .overview-right-wrap h2 {
	    margin-bottom: 30px;
	}
	.videoWrapper169 {
    	padding-top: 50%;
	}
	.product-service-content {
    	padding: 20px 10px 19px;
	}
	.product-service-icon {
	    height: 132px;
	}
	.product-service-icon img{
		max-width: 50px;
	}
	.find-product-service-title h2.title-head {
    	margin-bottom: 50px;
    	    font-size: 33px;
	}
	.getInTouch-sec-title h2.title-head {
    	margin: 20px 0;
	}
	.benefits-item {
	    padding: 25px 18px 33px;
	}
	.testimonial-slider .owl-nav {
    	right: 0;
    	bottom: -50px;
	}
	.testimonial-content.quote p{
		font-size: 15px;
	}
	.testimonial-content.quote h2 {
    	font-size: 24px;
	}
	.testimonial-content.quote h2 i {
    	margin-right: 7px;
    	font-size: 20px;
	}
	.globar-client-section .globar-part-logo {
    	display: block;
	}
	.globar-client-section .globar-part-logo img {
	    display: inline-block !important;
	    margin: 0 30px 20px !important;
	    width: initial;
	}
	.footer-widget.quick-links.info-link-widget{
		margin-top: 40px;
	}
	.product-service-icon h5 {
	    font-size: 20px;
	}
	.product-service-content h4{
		font-size: 16px;
	}
}


/***** Mobile Menu Start Media *********/
@media (max-width: 991px){
	.mainmenu-wrapper nav.core-nav {
	    display: flex;
	    justify-content: space-between;
	    align-items: center;
	}
	.mobile-topNav-wrap {
    	background: #3c3c3c;
    	padding: 24px 0;
	}
	nav.navbar.mobile-secondary-menu-wrap a {
	    font-size: 16px;
	    color: #fff;
	    margin-bottom: 25px;
	    padding-bottom: 25px;
    	display: block;
    	border-bottom: 1px solid #fff;
	}
	/*nav.navbar.mobile-secondary-menu-wrap li:last-child a{
		border-bottom: none;
	}*/
	nav.navbar.mobile-secondary-menu-wrap .menu-primary-container{
		width: 100%;
	}
	.search-box.menu-search-box{
		margin-bottom: 30px;
	}
	nav.navbar.mobile-secondary-menu-wrap{
		padding: 0;
	}
	.search-box.menu-search-box .input-group input,
	.search-box.menu-search-box .input-group button.input-group-text {
	    background: transparent;
	    border-color: rgba(151, 151, 151, 0.5);
	    border-radius: 0;
	    height: 40px;	    
	}
	.search-box.menu-search-box .input-group input{
		border-right: 0;
		color: #ffff;
	}
	.search-box.menu-search-box .input-group button.input-group-text {
		border-left: 0;
	}
	.mobile-menu-logo {
	    height: 25vh;
	    display: flex;
	    justify-content: center;
	    align-items: center;
	}
}
/***** Mobile Menu end Media *********/
@media (max-width: 767px){
	.homeBanner-content-wrap h1.homeBanner-title{
		font-size: 26px;
	}
	.homeBanner-shape{
		display: none;
	}
	.homeBanner-btn-block a {
    	width: 100%;
    	margin: 0;
	}
	.homeBanner-btn-block a.sellProduct-btn {
    	margin-top: 20px;
	}
	.homeBanner-wrap {
    	height: initial;
    	padding: 50px 0;
	}
	.varselor-overview-block{
		padding: 40px 0;
	}
	.overview-left-wrap h2, .overview-right-wrap h2,
	.ourMain-product-section .product-sec-title h2.title-head {
    	font-size: 22px;
	}
	.videoWrapper169 {
    	padding-top: 55%;
	}
	.videoPoster:before {
	    width: 70px;
	    height: 70px;
	}
	.videoPoster:after {
	    content: '';
	    border-left: 24px solid #fff;
	    border-top: 12px solid transparent;
	    border-bottom: 12px solid transparent;
	    left: 3%;
	}
	.ourMain-product-section {
    	padding: 56px 0 43px;
	}
	.product-carousel-wrap {
    	margin-top: 54px;
    	padding: 15px;
	}
	.product-carousel-wrap{
		margin-top: 0;
	}
	.ourMain-product-slider .main-product-item{
		margin: 25px 5px;
		box-shadow: 0 1px 20px 0 rgba(114, 114, 114, 0.2);
	}
	.find-product-service-title h2.title-head,
	.getInTouch-sec-title h2.title-head{
		font-size: 24px;
	}
	.find-product-service-section {
    	padding: 0 0 0px;
	}
	.product-service-content {
    	padding: 32px 31px 20px;
	}
	.product-service-content h4{
		min-height: initial;
		font-size: 18px;
	}
	.product-service-item{
		margin-bottom: 25px;
	}
	.product-service-icon {
    	height: 153px;
	}
	.product-service-icon img{
		max-width: 80px;
	}
	.getInTouch-section{
		padding: 62px 0 35px;
	}
	.getInTouch-btn a {
    	display: block;
    	width: 100%;
	}
	.benefits-section {
    	padding: 44px 0 60px 0;
	}
	.benefits-item{
		margin-bottom: 20px;
	}
	.benefits-section .benefits-item p{
		min-height: initial;
	}
	.whyUs-section, .testimonial-slider {
    	padding: 65px 0;
	}
	.testimonial-image.cell-left {
    	display: none;
	}
	.testimonial-content.quote h2 i {
    	display: block;
    	margin-bottom: 15px;
	}
	.testimonial-content.quote h2{
		margin-bottom: 25px;
	}
	.testimonial-slider .owl-nav{
		right: auto;
		left: 0;
		bottom: -40px;
	}
	.testimonial-slider .owl-carousel .owl-nav button.owl-next {
    	margin-left: 10px;
	}
	.globar-client-section {
    	padding: 45px 0 60px;
	}
	.globar-client-section .getInTouch-sec-title h2.title-head {
	    margin: 34px 0 20px 0;
	}
	.globar-client-section .globar-part-logo img {
    	display: inline-block !important;
    	margin: 0 26px 20px !important;
    	width: 110px;
	}
	.footer{
		text-align: center;
		padding: 30px 0;
	}
}


/******* Home page End **********/

/******* Vendor Page Start ***************/
@media (max-width: 1600px){
	.vendorOverview-video .videoWrapper169 {
    	padding-top: 47.5%;
	}
}
 @media (max-width: 1440px){
 	h2.vendorOverviewBanner-title{
 		font-size: 32px;
 	}
 	.vendorOverview-banner-img {
    	bottom: -283px;
    	right: -80px;
	}
	.vendorOverviewBanner-wrapper {
    	margin-top: 40px;
	}
	h3.businessBoot-item-title {
    	font-size: 30px;
    	margin: 56px 0 40px 0;
	}
	.businessBoot-item-des p {
	    font-size: 16px;
	}
	.menu-left-wrapper ul.menu-left-list li:first-child a{
		margin-right: 0;
	}
	.innerpage-navbar ul.menu.menu-left-list {
    	margin-left: 32px;
	}
 }


 @media (max-width: 1366px){
	.businessBoot-wrap-title {
    	font-size: 28px;
    	margin: 80px 0 30px 0;
	}
	h3.businessBoot-item-title {
    	font-size: 26px;
    	margin: 30px 0 20px 0;
	}
 }

 @media (max-width: 991px){
	.vendorBanner-des p{
		font-size: 15px;
	}
	.vendorOverview-video{
		margin-top: 7px;
	}
	.vendorBanner-left-content-wrap{
		margin-bottom: 0;
	}
	.vendorOverview-banner-img {
    	bottom: -233px;
	    right: -80px;
	}
	.vendorOverviewBanner-wrapper{
		margin-top: 0;
		height: 344px;
	}
	.businessBoot-item-des p {
	    font-size: 14px;
	}
	h3.businessBoot-item-title {
		font-size: 20px;
	}
	h2.vendorOverviewBanner-title {
    	font-size: 26px;
	}
 }

 @media (max-width: 767px){
 	h3.businessBoot-item-title {
	    font-size: 20px;
	    margin: -10px 0 20px 0;
	}
	.vendorOverview-video .videoWrapper169 {
    	padding-top: 64.5%;
	}
	.vendorOverviewBanner-wrapper{
		height: initial;
    	padding: 50px 0;
	}
	.vendorBanner-mobileBtn {
    	display: block !important;
	}
	.vendorBanner-mobileBtn a.vc_general.vc_btn3 {
	    background: #e76161;
	    border-color: #e76161;
	    color: #fff;
	    padding: 16px 12px !important;
	    margin-top: 50px;
	}
	.vendorOverviewBanner-wrapper {
    	height: initial;
	    padding: 52px 0 80px 0;
	}
	.businessBoot-wrap-title {
	    font-size: 22px;
	    margin: 10px 0 35px 0;
	    text-align: center !important;
	}
	.separatorBorder-line {
	    display: none !important;
	}
	.businessBoot-item-des {
    	margin-bottom: 42px !important;
	}
	.footer-widget.footer-info-area {
    	margin-bottom: 40px;
	}
 }

 @media (max-width: 1366px){
	.product-service-icon h5{
		font-size: 20px;
	}
}

@media (max-width: 991px){
	.product-service-icon h5 {
    	font-size: 16px;
	}
	.product-service-icon{
		padding: 0 15px;
	}
}

@media (max-width: 767px){
	.product-service-icon h5 {
    	font-size: 18px;
	}
	.product-service-icon {
    	height: 130px;
	}
}